[2022-01-13 01:18] onein528 opened #1 "FluentHub UI suggestions"
**Repo page**
![image](https://user-images.githubusercontent.com/62196528/149245006-a7d65759-cb76-4cc0-bc08-42db469e564a.png)

[2022-01-18 13:29] BobbyESP opened #2 "Help"
Hi. I wanted to help in this project. I think it's an awesome idea and i'm a little bit experienced in UWP and C# and i hope this can be an opportunity for improving.

Hope you let me get into it. Thanks!

[2022-01-19 23:02] onein528 commented on #2
Thank you/

Yes, of course!! I invited you to this repo.

[2022-01-20 06:46] onein528 commented on #2
I will create organization for this and add you as its member!

[2022-01-20 12:03] BobbyESP commented on #2
Oh! Thank you a lot!

[2022-01-20 12:06] BobbyESP commented on #2
The invitation says to me that it's revoked

[2022-01-20 12:30] onein528 commented on #2
Fix it. add you to fluenthub-uwp organization member👍

[2022-01-20 12:34] BobbyESP commented on #2
Thanks a lot! In a few hours i'm going to start to explore the code, now im at school

[2022-01-20 12:35] onein528 commented on #2
Actually, I don't know to develop multiple people.
There may be design conflicts, should I now create the "dev" branch and be approved in the PR before marging it?

[2022-01-20 12:41] BobbyESP commented on #2
Yea, maybe it's a good idea. Developing in another branch, and when it's ready, merge it with the main one

[2022-01-20 12:43] onein528 commented on #2
Ok let's go!

[2022-01-20 12:44] onein528 commented on #2
I'm teenager too. so good.
And member permission is okey? this is good?

[2022-01-20 12:46] BobbyESP commented on #2
Ok, nice! I dont know if member permission is good. Later i talk to you, need to go sirry

[2022-01-20 12:46] BobbyESP commented on #2
But yes, i can edit

[2022-01-20 15:52] onein528 commented on #2
Please keep in mind that there is a time difference between Spain and Japan(Spain+8h).

[2022-01-20 16:14] BobbyESP commented on #2
Ok, no problem! I will add the Japanish clock to my phone so

[2022-01-20 16:14] BobbyESP commented on #2
Good night by the way!

[2022-01-20 16:33] BobbyESP commented on #2
Hi, i cant get into the link to get the credentials for the app as Repository member by [this link](https://github.com/organizations/fluenthub-uwp/settings/applications/)

[2022-01-21 09:21] onein528 commented on #2
https://github.com/fluenthub-uwp/FluentHub/settings/secrets/actions

 we may be use this. you can access this page(your access role is ‘Maintain’)?

[2022-01-21 10:02] BobbyESP commented on #2
No, i cant. And ok, i'll use a non-member!

[2022-01-21 10:06] BobbyESP commented on #2
At yours 00:00 i'm gonna try to change the AppCredentials system to JSON. I saw that you tried because you have the implementations of them in the code but unused.

[2022-01-21 12:12] onein528 commented on #2
I was worried about deleting the repository by mistake, so I set the authority to `Write`, but I found that only the repo creator can delete or transfer it, so I promoted your authority to Admin. Sorry.

[2022-01-21 12:12] onein528 commented on #2
https://github.com/fluenthub-uwp/FluentHub/settings/secrets/actions
 we may be use this. you can access this page(your access role is ‘Maintain’)?

Can you?

[2022-01-21 12:43] onein528 commented on #2
To prevent commit conflicts, you cannot push to `main` branch directly by protected branches settings.
So you have to create a branch such as `BobbyESP/JsonAppCredentials` to push directly.
If you want marge this, open a PR to marge. Approval of two people(me and you) is required.

[2022-01-21 12:54] BobbyESP commented on #2
Ok, nice.

[2022-01-21 12:54] BobbyESP commented on #2
And no, i cant

[2022-01-21 12:57] onein528 commented on #2
I'm confused now........ why......

[2022-01-21 14:06] BobbyESP commented on #2
Ah yes, now i can

[2022-01-21 14:06] BobbyESP commented on #2
Sorry, didnt readed this

[2022-01-21 14:23] onein528 commented on #2
I'll create private repo to use for app credentials container.

[2022-01-21 15:19] BobbyESP commented on #2
Later i see, i cant now sorry

[2022-01-23 11:59] BobbyESP commented on #2
I need to see that about the credentials, sorry for the late

[2022-01-23 12:00] onein528 commented on #2
Yes. See this org's private repo for credentials container.

[2022-01-23 12:04] BobbyESP opened #3 "Profile URL crashing the app when the https:// protocol doesn't exist."
When you have an URL in your profile, the app crashes. The debugger says that the LinkButton.NavigateUri string is null and the format couldn't be determinated.

<img width="592" alt="image" src="https://user-images.githubusercontent.com/60316747/150677499-5833a065-4c1f-4699-8f58-9330bd87b90b.png">

[2022-01-23 12:05] BobbyESP commented on #2
I have this
<img width="615" alt="image" src="https://user-images.githubusercontent.com/60316747/150677538-a16127e7-8a54-4d0e-8665-da3fecde7245.png">

[2022-01-23 12:07] onein528 commented on #2
It couldn't be used as my goal of use.
So please use private repo's credentials
https://github.com/fluenthub-uwp/github-api-credentials

[2022-01-23 12:08] BobbyESP commented on #2
Okk, thanks a lot!

[2022-01-23 12:09] onein528 commented on #3
It was unclear whether it was Null or not.

[2022-01-23 12:10] BobbyESP commented on #3
Oh, sorry. I send now the other screenshot

[2022-01-23 12:11] BobbyESP commented on #3
<img width="835" alt="image" src="https://user-images.githubusercontent.com/60316747/150677741-d1a467f7-e2ec-4b83-aeab-9ac8b620c454.png">

[2022-01-23 12:12] onein528 commented on #3
well, I will try to reproduce this.

[2022-01-23 12:13] BobbyESP commented on #3
Ok

[2022-01-23 12:13] onein528 commented on #3
An exception may have occurred in the Uri class due to the absence of the `https://` protocol.

[2022-01-23 12:19] BobbyESP commented on #3
Ok, yes. What i thought. Yesterday i was trying to add the `https://` in the links that it doesn't exist.

[2022-01-23 12:20] onein528 commented on #2
This conversation will be forwarded [here](https://github.com/fluenthub-uwp/FluentHub/discussions/5).

[2022-01-23 12:30] onein528 commented on #3
If you fix it, still wait for it to merge into your branch.
I'm making a breaking change now.
After merging it, let's think about how to fix it.

[2022-01-23 13:00] BobbyESP commented on #3
Ok, no problem. At the moment i'm adding a progressRing to the Repos view.

[2022-01-23 13:01] onein528 commented on #3
Yeeees! What I thought! thx ;)

[2022-01-23 13:07] onein528 commented on #3
Added pinned item with GraphQL API
How do you feel?
My breaking changes:
![image](https://user-images.githubusercontent.com/62196528/150679878-67998bcf-fc9f-45ca-a843-eebf48d344e9.png)

[2022-01-23 13:09] onein528 commented on #3
I feel free to propose/update not only the code part but also the UI part with #1 .

[2022-01-23 13:10] onein528 commented on #1
Pinned items
![image](https://user-images.githubusercontent.com/62196528/150679878-67998bcf-fc9f-45ca-a843-eebf48d344e9.png)

[2022-01-23 13:22] BobbyESP commented on #3
Ohh, nicee!!

[2022-01-23 13:23] BobbyESP commented on #3
I already pushed the progressRing

[2022-01-23 13:23] BobbyESP commented on #1
WOOOW, REPO PAGE IS INCREDIBLE

[2022-01-23 14:08] BobbyESP opened #7 "Multi-windowing support"
The ability to create multiple windows of the programm.

[2022-01-23 14:09] BobbyESP opened #8 "Add multi-account support"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11

### What FluentHub version/architecture are you seeing the problem on?

_None_

### Description

As the title

### Steps To Reproduce

_No response_

### Expected behavior

[2022-01-23 14:14] onein528 commented on #8
Yeah, it's good idea.

[2022-01-23 14:16] BobbyESP commented on #8
Yes, and i think it's a very simple integration. Creating a local JSON file or XML with the multiple accounts and access token

[2022-01-23 14:19] onein528 commented on #8
or [user app settings container](https://docs.microsoft.com/en-us/windows/uwp/get-started/settings-learning-track)

[2022-01-23 14:20] onein528 commented on #2
Can you set `watch` to `All activity`?

![image](https://user-images.githubusercontent.com/62196528/150682990-15faa925-01b7-462e-aa4b-4073a2378c1c.png)

[2022-01-23 14:21] onein528 commented on #2
When merging, select "squash and marge" as the merging method and merge.

[2022-01-23 14:23] onein528 commented on #2
You can open a PR for `progressRing` branch

[2022-01-23 14:25] BobbyESP commented on #2
Done

[2022-01-23 14:26] BobbyESP commented on #2
Ok!

[2022-01-23 14:28] BobbyESP commented on #8
Oh, that's nice!

[2022-01-23 14:37] BobbyESP opened #10 "Use DiffPlex.UWP for displaying commit diff"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11

### What FluentHub version/architecture are you seeing the problem on?

_None_

### Description

We can get the text comparer from [this](https://github.com/veler/DevToys)

[2022-01-23 14:38] onein528 commented on #7
I think this can be achieved with multi-tab support.
Implementing this also required the implementation of syncing app settings modified in one other window thread, which now seems unnecessary.

[2022-01-23 14:40] onein528 commented on #10
VERY GOOD.
LOOKS GOOD TO ME!!!!!!!!

I thought that the UI of the source code or diff were the most troublesome points, but this is a very good idea.

[2022-01-23 14:50] BobbyESP commented on #10
Nice!

[2022-01-23 15:14] BobbyESP commented on #10
That app also has Markdown if u want to improve the system that already have this one.

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/60316747/150685289-7529fe68-9820-4a82-89cb-1800ac429329.png">

[2022-01-23 15:19] onein528 commented on #10
Yeah, Get the same experience as a browser with WebView, or simplify your code with existing markdown tools.
Either way, fixing the relative path is mandatory.

[2022-01-23 15:23] onein528 commented on #10
Another reason I'm afraid to use markdown controls is that I can't change the style. With WebView, we can get the same experience as a GitHub site by simply inserting the rendered Html code into the default Html file(included css file with `<style>`), but we can't change the style of the markdown controls.

[2022-01-23 15:34] BobbyESP commented on #10
Ahh ok. So ut's better using the WebView one, no?

[2022-01-23 15:38] onein528 commented on #10
It's maybe better than markdown controls

[2022-01-23 15:39] onein528 commented on #10
This use Monaco Editor for UWP
Looks like vscode code editor 💯

[2022-01-23 15:41] onein528 commented on #3
I can reproduced this:
![image](https://user-images.githubusercontent.com/62196528/150686377-a5f44371-d817-4fac-95c2-9d2b2e2d478d.png)

I will try to fix this :)

[2022-01-23 15:43] onein528 commented on #3
This Stack Overflow question can be useful.
https://stackoverflow.com/questions/5289739/add-scheme-to-url-if-needed

[2022-01-23 15:44] BobbyESP commented on #10
Ok, nice

[2022-01-23 15:45] BobbyESP commented on #10
Ok, nice, so we can use this one with syntax highlightning

[2022-01-23 15:47] BobbyESP commented on #3
Ohh, yes. Try to do that!

[2022-01-23 15:52] onein528 commented on #10
Ohh, sorry. that comment was misleading.

- **markdown**
Markdown controls can't specify GitHub stylesheets, so GitHub original font sizes, colors, and syntax highlighting don't apply.
- **Code editor**
The code editor is perfectly fine with this editor. I wanted to tell you that it's called the Monaco Editor and is also used in the editor part of VS Code.

Sorry :F

[2022-01-23 15:55] onein528 commented on #3
Fixed. I'll open a PR of this immediately.

[2022-01-23 15:55] BobbyESP commented on #10
Ohhh, ok! Thakns for the info. And dont worry :)

[2022-01-23 15:59] BobbyESP commented on #3
Ok, i approve it now

[2022-01-23 16:02] #3 closed

[2022-01-23 16:04] onein528 commented on #2
@BobbyESP Would you like to delete the all of yours previous branchs?

[2022-01-23 16:05] BobbyESP opened #12 "Adding Explore repositories and All Activity"
<img width="1003" alt="image" src="https://user-images.githubusercontent.com/60316747/150687213-800d2e1a-2b01-4513-8333-a4fe044a280c.png">

<img width="1661" alt="image" src="https://user-images.githubusercontent.com/60316747/150687225-a08f75cc-d014-49ac-8340-f388f5b7ba22.png">

[2022-01-23 16:05] BobbyESP commented on #2
Yes please XD

[2022-01-23 16:06] BobbyESP commented on #2
I had headaches before with them.

[2022-01-23 16:07] BobbyESP commented on #2
Sorry if i'm not working too much. I have exams this weeks

[2022-01-23 16:11] onein528 commented on #12
Let's discuss tomorrow.

(In fact, And I was thinking of making the Home page the default page like GitHub for mobile, and putting the profile, all activities, notifications, issues, PR, discussions, and settings of the signed-in users together on this page)
Previous screenshot in README.md:
![image](https://user-images.githubusercontent.com/62196528/149005711-1d48a379-f513-4c71-8e1c-794cbf4434c1.

[2022-01-23 16:15] onein528 commented on #12
However, I was afraid that including navigation that is not included in GitHub would complicate the navigation helper. Also, the reason for creating the Home page is the integration of all user page. However, the implementation of this is on top of my To-do.

[2022-01-23 16:17] BobbyESP commented on #12
Oh yeah, this is a cool idea!

[2022-01-23 16:17] onein528 commented on #2
It's good at all. at all.

**Good luck with the exam!!**

[2022-01-23 16:18] BobbyESP commented on #12
Oh , i understand.  If you want we can talk too this tomorrow

[2022-01-23 16:19] BobbyESP commented on #12
I think it's becoming late to you.

[2022-01-23 16:19] BobbyESP commented on #2
Thanks!

[2022-01-25 13:32] BobbyESP commented on #1
Add branch logo to the braches dropdown

[2022-01-25 13:34] onein528 commented on #1
Thanks :)

[2022-01-29 12:27] onein528 opened #19 "Accessing mostly protected memory areas and corrupting collections of repository"
**Describe the bug**
As title.

**To Reproduce**
Steps to reproduce the behavior:
1. Continue debugging until this exception occurs.
2. See an exception.

**Expected behavior**

**Screenshots (optional)**

**Version**
 - Windows:
 - FluentHub:

**Additional context**
Add any other context about the problem here.

[2022-01-29 13:59] #2 closed

[2022-01-29 18:41] #7 closed

[2022-01-30 10:05] BobbyESP opened #23 "Bad sizing of Pinned repositories cards in the Profile View"
**Describe the bug**
As the title. My conclusion is that: If the project has no description and the name is short, it will appear bad sized.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app.
2. Go to the profile view.
3. See the pinned repos.

**Expected behavior**
All the pinned repo cards with the same size.

**Screenshots (optional)**
<img width="1018" alt="image" src="https:/

[2022-01-30 10:41] onein528 commented on #23
In fact, it doesn't wrap the repository description.
That's because I was afraid of this. For some reason, the heights cannot be aligned.

[2022-01-30 10:44] onein528 commented on #23
Besides, the height of the user's special README file cannot be flexible.
README webview block is need to set the maximum height to 400, and if it's less than that, deploy according to that height.

[2022-01-30 10:50] onein528 commented on #23
Opppppps. Fixed.

[2022-01-30 10:50] onein528 commented on #23
![image](https://user-images.githubusercontent.com/62196528/151696592-59c0cfec-1be1-4b2d-95d4-167e4cf7cabc.png)

[2022-01-30 10:51] onein528 commented on #23
Next commit will contain this fix.

[2022-01-30 10:52] onein528 commented on #23
It also includes the possibility of hiding the star button of this repository block, because the star button is not displayed for pin items.

[2022-01-30 11:23] BobbyESP commented on #23
Nice work men!!!

[2022-01-30 12:18] #23 closed

[2022-01-30 14:11] #1 closed

[2022-02-01 16:03] onein528 opened #26 "Create link like button style and label control"
**Is your feature request related to a problem? Please describe.**

*None*

**Describe the solution you'd like**

Replace the link in the GitHub site with a button to update the style.
Create resource dictionary for this.

**Describe alternatives you've considered**

**Additional context**

**Screenshots (optional)**

Suggested place:

![image](https://user-images.githubusercontent.com/62196528/15

[2022-02-01 16:21] onein528 commented on #26
May be use those:

https://github.com/microsoft/microsoft-ui-xaml/blob/main/dev/CommonStyles/Button_themeresources.xaml#L30-L32
![image](https://user-images.githubusercontent.com/62196528/152007322-65841364-99cd-4152-9915-dcf943484d39.png)

https://github.com/microsoft/microsoft-ui-xaml/blob/main/dev/CommonStyles/Hyperlink_themeresources.xaml#L7-L9
![image](https://user-images.githubusercontent.co

[2022-02-02 11:20] BobbyESP commented on #26
Ahh yes, i just realized that. In the Open with Visual Studio we need to do the same

[2022-02-02 11:25] onein528 commented on #26
And we also create label or status control.

![image](https://user-images.githubusercontent.com/62196528/152144915-7d5aed5d-c065-4f91-8f1e-088a91c68862.png)

![image](https://user-images.githubusercontent.com/62196528/152144939-39c06f05-76c9-4a2f-a730-3f62f0dc51f5.png)

![image](https://user-images.githubusercontent.com/62196528/152144965-84070751-db19-444f-b58e-3e43c7bfc2b9.png)

[2022-02-02 11:27] BobbyESP commented on #26
Yes! But i actually like the fluent design to them. Don't know if you like it

[2022-02-02 11:30] onein528 commented on #26
Yes i think so. think about design of them. 👀

[2022-02-02 11:35] BobbyESP commented on #26
The tickness can have the color of the labels (in like in github); and the interior, that color, changing the transparency and so, merging the fluent design with that layer of color

[2022-02-02 15:39] onein528 opened #27 "Fix relative path in the html string"
**Describe the bug**

This issue exists to link to PR.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

**Screenshots (optional)**

**Version**
 - Windows:
 - FluentHub:

**Additional context**

[2022-02-02 16:26] BobbyESP opened #28 "Repos with no description crashing the app"
**Describe the bug**
Same as the title

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a repository that has no description-

**Expected behavior**
Open the repository having no description

**Screenshots (optional)**
Cna't, just this
<img width="649" alt="image" src="https://user-images.githubusercontent.com/60316747/152194853-43f7ccd6-2bd1-49dd-8268-cbd42de08564.png">

**Version**
 -

[2022-02-02 16:26] BobbyESP commented on #28
Tried to do a fix, but it doesn't wok

[2022-02-02 16:28] BobbyESP commented on #28
Nah, fixed. I'm just dumb

[2022-02-02 16:30] onein528 commented on #28
Thanks.

[2022-02-02 16:32] onein528 commented on #28
Close by #25

[2022-02-02 16:32] BobbyESP commented on #28
Yes, i'm merging it now

[2022-02-02 16:41] #28 closed

[2022-02-02 16:43] onein528 commented on #27
This is terrible:

![image](https://user-images.githubusercontent.com/62196528/152197857-3d40f178-6fde-4ad3-8409-36fc2bc4303f.png)

[2022-02-02 16:52] BobbyESP commented on #27
Ahh, i know what are you saying.

[2022-02-03 07:52] onein528 opened #31 "Repository page ScrollViewer position"
**Describe the bug**
As the title

**To Reproduce**
Steps to reproduce the behavior:
1. Go to repository page
2. Scroll down

**Expected behavior**

I don't know where to make it scrollable.

**Screenshots (optional)**

**Version**
 - Windows: Win11 22523.rs_prerelease
 - FluentHub: unversioning

**Additional context**

[2022-02-03 07:53] onein528 commented on #31
first suggestion

![image](https://user-images.githubusercontent.com/62196528/152302398-8a3f4257-690d-4c39-832a-46afe3b8500a.png)

second:

![image](https://user-images.githubusercontent.com/62196528/152302429-2b15b4ce-4bfe-47b6-91ca-c1f03b505495.png)

third(*out dated*)
![image](https://user-images.githubusercontent.com/62196528/152302477-b6c9d07a-d150-421b-b94a-582784530af0.png)

[2022-02-03 07:54] onein528 commented on #31
I have now inserted a script that disables vertical scrolling in WebView.

[code]

[2022-02-03 09:30] onein528 commented on #26
How about?

![image](https://user-images.githubusercontent.com/62196528/152316169-a00f25c3-c682-4500-a217-f4fa96fd8c1c.png)

[2022-02-03 10:04] BobbyESP commented on #26
Yoo, like that, nice!

[2022-02-03 12:37] onein528 commented on #26
![image](https://user-images.githubusercontent.com/62196528/152344181-e16f733b-7af9-4587-9b2c-b9179c26600a.png)

[2022-02-03 12:44] BobbyESP commented on #26
Nice!!

[2022-02-03 17:19] BobbyESP commented on #26
maybe that blue and some of them

[2022-02-03 22:54] onein528 commented on #26
yes

[2022-02-04 16:00] onein528 commented on #26
Second way(just mock-up in xaml):
How do you feel? we should use first way?

![image](https://user-images.githubusercontent.com/62196528/152560990-1125478d-3efc-4afc-8329-1c895d5ae4da.png)

[2022-02-04 16:04] onein528 commented on #26
![image](https://user-images.githubusercontent.com/62196528/152561789-83ed82bb-716a-4030-980b-4e88ee29a184.png)

[2022-02-04 16:17] BobbyESP commented on #26
This one better

[2022-02-04 20:21] BobbyESP commented on #31
Ok, the idea is getting that down while scrolling? That's actually my idea

[2022-02-04 22:40] onein528 commented on #31
wherea would you like?

[2022-02-04 22:57] onein528 commented on #31
second idea is good?

[2022-02-04 22:58] BobbyESP commented on #31
I thought in the first one, but if u like the second one, we can use it

[2022-02-04 23:00] onein528 commented on #31
YES. go with first one

[2022-02-05 17:04] onein528 commented on #19
This problem no longer occurs. The next time we encounter this, reopen this issue.

[2022-02-05 17:04] #19 closed

[2022-02-05 17:14] BobbyESP commented on #19
Ok, nice!

[2022-02-05 17:37] BobbyESP opened #43 "When clicking a pinned repo block before it's completely loaded, the app crashes"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your profile and click some pinned repo before it's loaded (name, description...)
2. Click on it
3. See the app crashing

**Expected behavior**
Open the repo page anyways.

**Screenshots (optional)**
https://user-images.githubusercontent.com/60316747/152652468-60dc54

[2022-02-05 17:39] BobbyESP opened #44 "README file more big than expected in profile page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your profile without having a very big README file

**Expected behavior**
The README box should be adjusted to the size of the file.

**Screenshots (optional)**

<img width="811" alt="image" src="https://user-images.githubusercontent.com/60316747/152652536-0f46936d-0

[2022-02-05 17:53] onein528 commented on #44
yea. i have solution to this problem. I'll will fix next "Generall updates" PR.

It's 2:52 AM. I must sleep. sorry..

[2022-02-05 17:54] onein528 commented on #43
there's no tag of button?

FYI, button tag is assigned as repository id.

[2022-02-05 17:59] BobbyESP commented on #43
Ok nice! And thx for that info!

[2022-02-05 17:59] BobbyESP commented on #44
No problem men, good night!

[2022-02-05 17:59] onein528 opened #45 "When there is no internet connection, the app crashes"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11 Dev

### What FluentHub version/architecture are you seeing the problem on?

_None_

### Description

As the title

### Steps To Reproduce

1. Open app with no internel conn

[2022-02-05 18:04] #26 closed

[2022-02-05 18:04] #31 closed

[2022-02-06 15:24] onein528 commented on #12
I keep in mind. I'll create find page, activity(feed) page, and maybe explorer page(very row priority)

[2022-02-06 15:24] #12 closed

[2022-02-06 15:28] onein528 commented on #43
it will be replaced by wrappers enter github rest api so that dont causes such exceptions with try-catch syntax.

[2022-02-08 16:19] BobbyESP commented on #44
Nice!

[2022-02-11 10:50] onein528 opened #53 "known small issues"
**Describe the bug**

*None*

**To Reproduce**

*None*

**Expected behavior**

*None*

**Screenshots (optional)**

*None*

**Version**
 - Windows:
 - FluentHub:

**Additional context**

[2022-02-13 08:43] #27 closed

[2022-02-13 08:43] #43 closed

[2022-02-18 16:23] onein528 opened #56 "Migrate Octokit.NET to Octokit.GraphQL.NET"
**Additional context**
Add any other context about the problem here.
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11

### What FluentHub version/architecture are you seeing the problem on?

_None_

### Description

As the

[2022-02-19 07:01] onein528 opened #58 "Use fluent style on css"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11 Dev

### What FluentHub version/architecture are you seeing the problem on?

_None_

### Description

Create a Fluent System stylesheet(css).

### Steps To Reproduce

_No re

[2022-02-19 09:25] BobbyESP commented on #58
Ok, i need to see the libraty, but this is gonna be hard. Fluent Svelte is like a framework and we need to take a look to how it works

[2022-02-19 09:58] onein528 commented on #58
yes. i ll take a look.

[2022-02-20 13:46] onein528 opened #60 "Roadmap 1.0.00"
### New features

- Repository clone/branch button
- Repository overview
- Issue/PR details
- Update label control
- Issue comment reaction
- Repository summary card
- User summary card
- Issue/PR summary card

like this:

![image](https://user-images.githubusercontent.com/62196528/154943395-38dd8d4e-3d6c-4b14-8ec5-c571899d18dc.png)

![image](https://user-images.githubusercontent.com/62196528/1549

[2022-02-21 08:50] BobbyESP commented on #60
OK, i think i can do somethings today afternoon.

[2022-02-21 12:41] onein528 opened #65 "Issue/PR page scrollviewer position"
## 1. (I like)

![image](https://user-images.githubusercontent.com/62196528/154957024-d890b18b-08cd-4999-b7b9-f4fe298f582b.png)

## 2. (Current)

![image](https://user-images.githubusercontent.com/62196528/154957182-25cef511-aa5e-426b-97f5-d7177f572683.png)

## 3. (Hmmm)

![image](https://user-images.githubusercontent.com/62196528/154957219-a773b585-a1fb-4222-ba55-45b9a7657b6e.png)

[2022-02-21 12:41] onein528 commented on #65
which position do you like?

[2022-02-21 12:42] onein528 commented on #65
I like first one

[2022-02-21 12:43] BobbyESP commented on #65
I like first one too

[2022-02-21 12:43] onein528 commented on #65
ok!!!

[2022-02-21 12:44] BobbyESP commented on #65
Maybe align this?
![imaxe](https://user-images.githubusercontent.com/60316747/154957660-46bd5262-7ac3-4813-b17b-f1f7ae997646.png)
I like how it is but maybe it's better to align it

[2022-02-21 12:46] onein528 commented on #65
Where do you want to align it?

[2022-02-21 12:48] BobbyESP commented on #65
Align the text with the icon (not the icon with the text)

[2022-02-21 12:48] BobbyESP commented on #65
I'm at school now and i cant code

[2022-02-21 12:55] #60 closed

[2022-02-21 19:22] BobbyESP opened #66 "Starred repos takes too long to load"
**Describe the bug**
Same as title

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Marked with stars/ Starred"

**Expected behavior**
Fast starred repos list loading

**Screenshots (optional)**
Nope

**Version**
 - Windows:
 - FluentHub:

**Additional context**
Maybe changing the quantity of requested repos with stars makes it load faster.

[2022-02-21 19:24] BobbyESP opened #67 "App takes too long to start"
**Describe the bug**
Same as title
**To Reproduce**
Steps to reproduce the behavior:
1. Open the app and see how it slow is.

**Expected behavior**
Fast app loading

**Screenshots (optional)**
Nope

**Version**
 - Windows:
 - FluentHub:

**Additional context**
Making the principal view another one away from the profile wich needs to load all the information may fix this issue

[2022-02-21 20:04] BobbyESP commented on #67
I realised that that is taking too long is the sign in. We need to optimize it or open the app without signing in, and have a notification in-app telling you that you are getting signed in

[2022-02-21 22:54] onein528 commented on #66
yea. I know. but it maybe because of using GraphQL.NET
maybe.

[2022-02-21 22:57] onein528 commented on #67
this app cannot use without signing in.
notification page and home page use signed in user profile.

[2022-02-21 23:20] BobbyESP commented on #67
I know. What we can do it's optimize the logging or doing a Custom Splash
Screen telling that you are getting signed and later open the app. Like
charcter map uwp

El lun., 21 feb. 2022 23:57, NullPointerException ***@***.***>
escribió:

[2022-02-21 23:31] BobbyESP commented on #66
yea, or getting the 100 first starred in one request. It's better 30 per
30, like GitHub

El lun., 21 feb. 2022 23:54, NullPointerException ***@***.***>
escribió:

[2022-02-22 04:25] onein528 commented on #67
ok i love that

[2022-02-22 04:37] onein528 commented on #66
getting starred repos have ability to get the specified number of repos

[2022-02-22 04:57] #65 closed

[2022-02-22 08:02] BobbyESP commented on #67
Ok, nice!

[2022-02-22 08:05] BobbyESP commented on #67
I'll try to code a little these days. They're terrible because of school

[2022-02-22 08:09] onein528 commented on #67
ohok
And I now am publishing v0.7.1!

![image](https://user-images.githubusercontent.com/62196528/155089520-c9a9b9f2-2e52-42ec-a9e0-91d7e72b3f69.png)

[2022-02-22 08:11] BobbyESP commented on #67
OH yes babyyy !!

[2022-02-22 08:12] BobbyESP commented on #67
I woll anounce this in multiple discord servers to get more people!

[2022-02-22 08:13] BobbyESP commented on #67
And maybe i know some friends to make us a logo. But probably we need to pay to him

[2022-02-22 08:16] onein528 commented on #67
ohh. I wanna pay.... but I maybe cannot. so if you are needed to pay, you dont have to. really.

[2022-02-22 08:21] onein528 commented on #67
release draft is seen in https://github.com/fluenthub-uwp/FluentHub/releases

[2022-02-22 11:11] BobbyESP commented on #67
Ok, nice!

[2022-02-22 12:28] onein528 opened #69 "FluentHub v0.7.1 test publishing to Microsoft Store"
**Describe the bug**

* All `Passed` certicication kit

**To Reproduce**

**Expected behavior**

**Screenshots (optional)**

**Version**
 - Windows: win11 stable version
 - FluentHub: v0.7.1(v0.7.5)

**Additional context**

[2022-02-22 12:35] onein528 commented on #69
should i use windows 11 stable version?

[2022-02-22 14:48] BobbyESP commented on #69
Maybe. If you want we can use try catch

[2022-02-22 14:50] onein528 commented on #69
no. Perhaps a breakpoint was created at run time to protect the system.

[2022-02-22 14:51] BobbyESP commented on #69
Ahh ok

[2022-02-22 14:52] BobbyESP commented on #69
Can you give me the dump?

[2022-02-22 14:55] BobbyESP commented on #69
I dont know if you can give permissions to some people to upload to the store the app. Or just make the test

[2022-02-22 15:25] onein528 commented on #69
if i can, yes i do.

[2022-02-22 15:25] onein528 commented on #69
ok. in discord.

[2022-02-22 15:38] BobbyESP commented on #69
nice

[2022-02-22 15:38] BobbyESP commented on #69
Ok, no problem!

[2022-02-22 16:44] BobbyESP commented on #69
I think naybe it's your windows version, because your last test to see if it's approved, failed, when for me succeded

[2022-02-22 16:47] onein528 commented on #69
yea. what i think. so i am needed to downgrade windows 11 dev to stable....
I'll cannot recieve latest updates for windows11. very missing.....

[2022-02-23 12:48] onein528 commented on #69
ok. passed. then, we can publish to ms store.

[2022-02-23 14:21] onein528 commented on #69
![image](https://user-images.githubusercontent.com/62196528/155337755-a1218fb4-b957-4f57-8253-4be40690765c.png)

[2022-02-23 15:15] BobbyESP commented on #69
OH YESS

[2022-02-25 07:46] onein528 commented on #10
this use WebView with github style sheets.

We maybe use Markdown block control of toolkit, if we can customize styles.

[2022-02-25 07:48] onein528 commented on #10
I will use textblock styling with monospace for the time being.

currently, i dont know how to use it which based on Web.

[2022-02-26 06:46] #69 closed

[2022-02-27 13:17] #66 closed

[2022-02-27 13:21] onein528 opened #73 "ItemRepeater of the Issue/PR/starred repos/repos list bug"
**Describe the bug**

Scrolling the list view breaks the order of the muxc:ItemRepeater button list. However, the contents of the buttons in the list have only changed, and pressing the button will take me to the correct page.

**To Reproduce**

1. scroll one of those page.

**Expected behavior**

**Screenshots (optional)**

**Version**
 - Windows:win11 stable
 - FluentHub: v0.7.1

**Additional co

[2022-02-28 03:54] Gaoyifei1011 opened #77 "Missing misx bundle's digital sign in v0.7.5 release package"
**Describe the bug**

 Have you forget to sign this package？
![图片](https://user-images.githubusercontent.com/49179966/155921249-d9c66b8f-2cc2-4d78-a636-c17a153d95d7.png)
在打包的时候是否忘记了签名？无法正常安装。
Did you forget to sign your name when packing? The installation fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Download release v0.7.5
2. Execute .misxbundle

**Expected behavior**

**Screenshot

[2022-02-28 05:14] nathayoung commented on #77
I'm getting the same thing here; failed installation.  I haven't spent much time with UWP and even less with publishing apps in general, but the previous release had a .cer file in the zip folder.  Even after manually installing that file, it failed.  Here's what I get from App Installer attepting to install both releases thus far:
<img width="591" alt="image" src="https://user-images.githubuserco

[2022-02-28 05:59] Gaoyifei1011 commented on #77
所以，请您能否为这个安装包重新签一下名并再修改一下release呢？
So, can you re-sign this installation package and modify the release?

[2022-02-28 06:35] onein528 commented on #77
sorry. you need to re-sign this app bundle's certification.

[2022-02-28 07:47] onein528 commented on #77
I found that bugs what causes. I uploaded msixbuild from artifacts generated by Azure Pipelines. maybe that generated files were not signed. I'm gonna re-upload bundle.

[2022-03-02 06:29] onein528 opened #78 "Migrate checks from azure pipelines to GitHub actions"
**Is your feature request related to a problem? Please describe.**

As the title

**Describe the solution you'd like**

Maybe it's a good idea.

**Describe alternatives you've considered**

**Additional context**

**Screenshots (optional)**

[2022-03-02 06:30] onein528 commented on #78
https://github.com/dongle-the-gadget/WinverUWP

[2022-03-02 08:43] BobbyESP commented on #78
We can take a look to that idea

[2022-03-02 08:46] BobbyESP commented on #73
<img width="604" alt="image" src="https://user-images.githubusercontent.com/60316747/156326835-5432bcff-6e19-45ce-bbd5-a8697a436508.png">
This is the actual problem, no?

[2022-03-02 09:50] onein528 commented on #73
yes...

[2022-03-02 09:55] BobbyESP commented on #73
Ok!

[2022-03-02 16:44] onein528 commented on #78
- fast
- easy UI

https://github.com/dongle-the-gadget/WinverUWP/actions/runs/1864962519

[2022-03-08 07:41] onein528 opened #80 "Not all controls are in equal position in user overview page"
**Describe the bug**
As the title.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home/user page overview

**Expected behavior**

**Screenshots (optional)**

![](https://i.stack.imgur.com/OO777.png)

**Version**
 - Windows: win11 stable
 - FluentHub: v0.7.5

**Additional context**

Asked a question in SO

https://stackoverflow.com/questions/71391448/why-the-heights-of-the-first-elemen

[2022-03-09 18:20] onein528 commented on #78
I will not use. azure is far better.

[2022-03-09 18:20] #78 closed

[2022-03-11 02:32] onein528 commented on #80
Fixed partially.

[2022-03-11 04:24] onein528 commented on #67
All right. I thought about this.

[Adding a custom splash means extending the display of the splash screen (Microsoft Docs)](https://docs.microsoft.com/en-us/windows/uwp/launch-resume/create-a-customized-splash-screen#:~:text=The%20phrase%20%22extended%20splash%20screen%22%20in%20this%20topic%20refers%20to%20a%20splash%20screen%20that%20stays%20on%20the%20screen%20for%20an%20extended%20period%20of

[2022-03-11 04:26] onein528 commented on #67
However, the delay in startup time is due to await in OnLaunch. I don't use await and don't wait for a call to query the user's login name.

[2022-03-12 20:38] victorbnl opened #87 "Add Esperanto(eo) translation"
I don't have Visual Studio on my computer and didn't want to install it only for that so here is the XML for the Esperanto translation.

[Resources.resw.txt](https://github.com/fluenthub-community/FluentHub/files/8238372/Resources.resw.txt)

[2022-03-13 04:30] onein528 commented on #87
thank you!
This resource will be included in the next PR and will be contributed in your name

[2022-03-13 11:03] onein528 commented on #73
maybe fixed in #74

[2022-03-13 11:03] onein528 commented on #67
fixed in #74

[2022-03-13 11:03] #67 closed

[2022-03-13 11:04] onein528 commented on #56
most of that, migrated by #74. but still have, so still open this.

[2022-03-13 11:10] onein528 commented on #87
and can you tell me your email in GitHub? I want do like [this](https://docs.github.com/en/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/creating-a-commit-with-multiple-authors#creating-co-authored-commits-on-github).

Go to your email settings: https://github.com/settings/emails

if your email set as private, you can get from here:

![image](https://user-images.git

[2022-03-13 23:45] luandersonn commented on #45
I propose to save some user data in the cache to use when the app is launched. After the app starts, authenticate the user and handle any connection errors.

[2022-03-14 08:50] onein528 commented on #45
yes. I think so. but I dont want to create caching helpers. and since the cause of the crash is Octokit.NET, I would like to use try-catch to get thier exceptions, log it, stop loading the page, and let ContentDialog inform the user that the internet has been disconnected.

[2022-03-14 13:56] onein528 commented on #77
sorry. it takes too time to generate store package(release build). and published v0.8.9 so now close this. if i have time, I will work on this.

[2022-03-14 13:56] #77 closed

[2022-03-15 14:09] #87 closed

[2022-03-15 17:14] victorbnl commented on #87
Okay no problem, that's understandable! Also sorry for not answering your previous message I had not seen it

[2022-03-15 17:21] onein528 commented on #87
but thank you for your contributing!

[2022-03-15 20:10] #73 closed

[2022-03-15 20:21] onein528 opened #93 "Add full multi-tab support"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### Description

As the title.
part of the 0.9.x shipment.
This is what I consider the most important feature of this application. So I will upgrade to v1.0.0 once this change is stable.
And GitHub data changes called "mutations" (fi

[2022-03-15 20:23] onein528 commented on #56
80% done.

[2022-03-17 00:52] onein528 opened #95 "Organization OAuth Access Restriction"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11

### What FluentHub version/architecture are you seeing the problem on?

Fluenthub v0.8.13

### Description

An exception occurs.

https://docs.github.com/en/organizations/r

[2022-03-17 07:21] luandersonn opened #96 "Add JumpList support"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### Description

Create a JumpList of common pages and actions
Capability | Priority
:-- | :--:
Navigate to user pages (Profile, Notifications, Activities, etc.) | Must
Allow the user to pin any repository | Could
Allow account switc

[2022-03-17 07:57] onein528 commented on #96
that's nice idea!

[2022-03-17 08:11] onein528 commented on #96
do you @luandersonn have Discord account? if you have, you can join our server. Please share more off-the-record information in https://discord.gg/4nhwUKfs (available in 7 days).

[2022-03-20 18:55] luandersonn opened #100 "Add keyboard shortcut support"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### Description

Adding support for keyboard and mouse shortcuts would increase productivity with FluentHub.

Common shortcuts:

Shortcut | Description
:-|:-
`Ctrl` + `T` | Opens a new tab
`Ctrl` + `W` | Closes the current tab
`Ctrl`

[2022-03-21 07:46] onein528 opened #101 "Add new logos for stable version"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### Description

### Alternative solutions

_No response_

### Relevant Assets

_No response_

[2022-03-21 23:17] #93 closed

[2022-03-21 23:27] onein528 commented on #100
maybe we can use like:

[code]
And seems like all click events need to go to the ViewModel.

[2022-03-25 13:57] onein528 commented on #58
testing

# header1
## header2
### header3
#### header4
##### header5
###### header6

- bullet1
- bullet2

table header|table header
---|---
table content|table content
table content|table content

[code]

*asterisks* or _underscores_.

**asterisks** or __underscores__.

**asterisks**.

~~Scratch this.~~

`inline code`

---

- [ ] task1
- [ ] task2
  - [ ] task2.1
  - [ ] task2.2

[2022-03-26 12:02] AstroX809 opened #104 "FluentHub Crashes after authentication"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11 Beta

### What FluentHub version/architecture are you seeing the problem on?

0.8.25.0

### Description

I opened the app, I clicked on "Start Setup", the app asked me to lo

[2022-03-26 12:13] onein528 commented on #104
Very important. can you build this app with this [docs](https://github.com/fluenthub-community/FluentHub/blob/main/docs/building-from-source.md)?
If not possible, I'm sorry, but can you wait until I commit the PR to log the authentication phase? I will work on this as a top priority.

[2022-03-26 14:13] #96 closed

[2022-03-26 14:38] luandersonn commented on #100
Not implemented yet

[2022-03-26 14:46] onein528 commented on #100
oh sorry..

[2022-03-26 15:14] onein528 commented on #95
partly, fixed bu adding try-catch. but it doesnot work prperty like GitHub. so may needed to be migrated to GitHub Apps from OAuth Apps.

[2022-03-26 16:04] #100 closed

[2022-03-26 19:57] onein528 commented on #10
maybe use more lightweight library :0

[2022-03-26 21:25] senolfndk commented on #104
ayen is crashing on me too

[2022-03-27 06:04] onein528 commented on #104
I was able to confirm this issue. It appears to have contained a critical bug. The package has been removed. The only way to run this application is to build. sorry.

Pls buid from here https://github.com/fluenthub-community/FluentHub/blob/main/docs/building-from-source.md

[2022-03-31 11:55] esibruti commented on #101
@onein528 It was done in a hurry but it's an idea I had, what do you think?
![image](https://user-images.githubusercontent.com/78214358/161049084-8e1ec152-8e15-46cf-bda3-dd829e2f5d26.png)

[2022-03-31 12:08] onein528 commented on #101
woow, nice idea! I have now asked one of my friends to create a concept for a logo. But thank you for the concept. Perhaps we may be able to use this.

FYI, The white square frame around the logo was created with the Mac application in mind, but we would like to remove it for the new logo.
I also have great respect for Files and would like to use an app logo with fluent tones like the Files logo.

[2022-03-31 12:14] esibruti commented on #101
Ahh, I get it. Yes, for a Fluent application it is good to have a fluent icon.

[2022-03-31 12:21] esibruti commented on #101
I can try

[2022-03-31 12:22] onein528 commented on #101
very thank you😀

[2022-03-31 12:51] onein528 commented on #45
Fixed in #108. This exception is handled.

[2022-03-31 12:54] onein528 commented on #56
There are features in V3 that are not present in V4. so, it must be used.

[2022-03-31 12:54] #56 closed

[2022-03-31 13:23] esibruti commented on #101
@onein528 Do you have a color palette you want to use?

[2022-03-31 13:27] onein528 commented on #101
just github-like colors!

[2022-03-31 13:34] esibruti commented on #101
![teste](https://user-images.githubusercontent.com/78214358/161067126-2f332937-f950-4100-8e98-2fb961b5912d.png)
Draft 1, opinion @onein528

[2022-03-31 13:38] onein528 commented on #101
yes! i know. can you change color palett between dev and stable?

and
![image](https://user-images.githubusercontent.com/62196528/161067824-8a5ebded-f85b-41a9-becc-80d5490063a5.png)

maybe dont need circle but i know this is draft.

[2022-03-31 13:40] onein528 commented on #101
can you code our discord? https://discord.gg/4Zy6H7cU

[2022-03-31 14:31] onein528 opened #110 "Navigate incorrect frame"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11

### What FluentHub version/architecture are you seeing the problem on?

v0.7.13 (deving)

### Description

When returning to the previous frame, it does not go to the previ

[2022-03-31 19:48] BobbyESP commented on #110
Maybe it's a good idea, but i dont know how the RAM usage will be impacted

[2022-03-31 22:43] #45 closed

[2022-03-31 22:43] #95 closed

[2022-04-01 16:36] senolfndk commented on #104
crashing

https://user-images.githubusercontent.com/52818836/161305548-c4f1706f-8e0f-4cb1-88c9-1393bd829c3f.mp4

[2022-04-01 19:39] onein528 commented on #104
okey which version? 0.7.13?

[2022-04-01 19:48] senolfndk commented on #104
0.7.13 version

[2022-04-01 19:54] onein528 commented on #104
confirmed. I will fix sorry.

[2022-04-01 19:57] senolfndk commented on #104
ok

[2022-04-01 20:20] onein528 commented on #104
@senolfndk this is first launch? yet dont auth?

[2022-04-01 20:26] onein528 commented on #104
Building with the same build version DEBUG configuration will absolutely succeed. However, when run with a RELEASE build, it seems to fail after authentication. My thinking is that in the RELEASE build, the exception that should be caught by try-catch is not being caught.

[2022-04-02 10:56] Advik-B opened #116 "Please submit builds in the releases tab"
### Before you start...

- [X] Have you checked if similar issue have already been reported?
- [ ] Have you updated the FluentHub? You might be using an old version.

### Description

​

### Alternative solutions

​

### Relevant Assets

​

[2022-04-02 11:18] BobbyESP commented on #116
We're taking a look to it because we are having some issues. We'll provide the bundle as fast as possible in next releases. By the moment, the only way to open/install the app is by compiling it by yourself. Sorry for the inconveniences.

[2022-04-02 12:20] onein528 commented on #116
I'm making sideload pipeline for GitHub release

https://github.com/fluenthub-community/FluentHub/blob/sideload-azure-pipelines/builds/azure-pipelines-sideload.yml

[2022-04-02 14:36] onein528 commented on #116
Uploaded. can you install? @Advik-B

[2022-04-04 09:59] #116 closed

[2022-04-05 01:22] #110 closed

[2022-04-05 11:18] johngagefaulkner commented on #104
Building `0.7.13` with DEBUG configuration does not succeed, either. The application does not "crash" but it sits at the "loading" screen after authentication forever (never continues/progresses forward.)

[2022-04-05 12:09] onein528 commented on #104
@johngagefaulkner Sorry for the inconveniences. your feedback is very important. thank you. I launched v0.7.13 right now and it seems to stop when OnLaunch or OnActivated takes too long. After that version the post-authentication behavior has changed.

Can you build the latest head/main branch? If you can, I will tag v0.7.15

[2022-04-05 12:27] johngagefaulkner commented on #104
Yeah, give me 30 minutes, I went to get breakfast. Then I'll build & test.

[2022-04-05 13:38] onein528 commented on #104
I did. from [sideload pipeline artifacts](https://dev.azure.com/fluenthub-community/FluentHub/_build/results?buildId=520&view=artifacts&pathAsName=false&type=publishedArtifacts)

![image](https://user-images.githubusercontent.com/62196528/161766493-376607b9-5872-4d00-928a-c934d3954adb.png)

Same issue.

[2022-04-05 13:55] johngagefaulkner commented on #104
@onein528 Are you saying you just tested the most recent build and it isn't working for you, either? Is it throwing an exception? If so, what's the error message?

[2022-04-05 13:57] onein528 commented on #104
latest version configured RELEASE does not work(same. suspending). but latest version configured DEBUG does work property.

[2022-04-05 13:58] onein528 commented on #104
It is impossible to know what is wrong with an application in the RELEASE configuration because it cannot be debugged. However, when I run the app in DEBUG configuration, it succeeds for some reason.

[2022-04-05 14:00] senolfndk commented on #104
https://user-images.githubusercontent.com/52818836/161771061-39da2fcc-c6ba-4b27-8df4-6d0d49a1ebad.mp4

🙁

[2022-04-05 14:01] onein528 commented on #104
can you build latest branch?

[2022-04-05 14:07] senolfndk commented on #104
![Ekran görüntüsü 2022-04-05 170648](https://user-images.githubusercontent.com/52818836/161772456-74f6adad-cb7b-4d5d-af25-07feb73f52fa.png)

[2022-04-05 14:08] onein528 commented on #104
appinstaller cannot be launch.

use msixbundle

[2022-04-05 14:15] onein528 commented on #104
yes

[2022-04-05 14:16] senolfndk commented on #104
i already installed this

[2022-04-05 14:22] onein528 commented on #104
can you build source code of latest head/main branch?

[2022-04-05 14:24] senolfndk commented on #104
I don't know how to generate code

[2022-04-05 14:29] onein528 commented on #104
OK. now, the app package, configured RELEASE, will be remove until become stable version V1.

We do apologize for any inconvenience caused. but i cannot found what is wrong with sideload package. so if you want to use this, you need to build app. if you cannot, please wait when published on Microsoft Store(v1.0.0).

[2022-04-12 19:27] jonasnordlund commented on #10
I've looked so hard for a free/open source UWP or WinUI syntax highlighting control. So far only found something in alpha, a paid control, and this. It's unfortunate because yes, this is basically an IDE class control. One unorthodox option is to use WebView2 (which ought to feel lighter) together with something like [Codemirror](https://codemirror.net/). It has several features including a [merge

[2022-04-12 19:51] onein528 commented on #10
Thank you your commenting. I planned to use [MonacoEditor.UWP](https://github.com/hawkerm/monaco-editor-uwp) but it is very heavy and web-base. so I maybe will use [DiffPlex.UWP](https://github.com/mmanela/diffplex) for more flexible and customizable which has used in [Notepads](https://github.com/JasonStein/Notepads, [TextDiff-UWP](https://github.com/luandersonn/TextDiff-UWP)). I will also take a

[2022-04-21 09:12] BobbyESP commented on #104
This still occuring or the issue can be closed?

[2022-04-21 10:22] nathayoung commented on #104
So far when I build, I keep getting it.  I'm building every day after any changes. The app knows it's me but the UI doesn't.  I'm assuming that has something to do with stored credentials. I can send screenshots and logs later, but I have to get ready for work.

[2022-04-21 10:28] onein528 commented on #104
Thanks. I wonder we can build successfully absolutely. so we are looking forward failed logs.

[2022-04-21 10:44] nathayoung commented on #104
Sure thing.  I'll get back on this later today after work.

[2022-04-21 11:05] BobbyESP commented on #104
Okey please send the logs when you are able to. No problem!

[2022-04-21 21:28] nathayoung commented on #104
I'm not 100% sure what you need/want but I tried to gather what I think may be helpful.  Let me know if you need anything else.

Just so you know, I'm running Win 11 Dev Build 22598, using Visual Studio 2022 v17.1.5, and running off the Main branch which appears to be FluentHub v0.7.13.0.

Here's the build section:

https://user-images.githubusercontent.com/46688736/164554189-faa8a458-a42f-45a3-ad

[2022-04-21 21:58] BobbyESP commented on #104
Yeah, we haven't implemented yet all the things to the log maker. I'm gonna try to reproduce the problem and i tell you.

[2022-04-21 22:26] BobbyESP commented on #104
For me all worked well. Now i can't continue investigating because i need to go to sleep. Tomorrow i'll take a deep investigation, and if i cant found the problem, i dont know if you liked to make a screen sharing on Discord. Thanks for the report and sorry for the inconveniences.

[2022-04-21 22:33] nathayoung commented on #104
Bummer.  This happens to me at work all the time, everything works for me but is broken for everyone else ha.  Thanks for taking a look.  As for the discord, the link in the README, at least for me, is just a link to the channel, not an invite.  When I click it I just get taken to the discord app, not the server/channel...

[2022-04-21 22:34] BobbyESP commented on #104
Ohh, no problem, i change it now!

[2022-04-21 22:35] BobbyESP commented on #104
https://discord.gg/geWQjmvTZV

[2022-04-21 22:37] nathayoung commented on #104
Thanks!

[2022-04-21 22:47] BobbyESP opened #122 "Add GitHub links handling"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### Description

This would make the app able to open GitHub links in the app instead of the internet browser

### Alternative solutions

_No response_

### Relevant Assets

_No response_

[2022-04-22 08:37] onein528 commented on #104
I will make logging better in current PR. you can access log location in settings -> about page.
And please give your log file.

[2022-04-22 09:03] BobbyESP commented on #104
He already sent the log -> https://github.com/fluenthub-community/FluentHub/files/8535166/Log20220421.log

[2022-04-22 11:53] onein528 commented on #104
I think code does not store signed in username to app settings manager.

[2022-04-22 11:56] onein528 commented on #104
@nathayoung nice feedback! thank you.

[2022-04-22 12:32] HenryWu01 opened #123 "FluentHub crashes after oauth callback"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11

### What FluentHub version/architecture are you seeing the problem on?

It's the newest from the default branch, I could not get into about page since login is required.

#

[2022-04-22 12:52] onein528 commented on #123
can you give us log file?(`C:\Users\USERNAME\AppData\Local\Packages\FluentHubDev_9es9q7t8fr9b8\LocalState`)

[2022-04-22 13:15] HenryWu01 commented on #123
Sure, here is the log.
[Log20220422.log](https://github.com/fluenthub-community/FluentHub/files/8541316/Log20220422.log)

[2022-04-22 13:29] onein528 commented on #123
it's unclear little bit. `An error occurred while sending the request` this error happen somethimes with no internet. but I am tracking this issue.

[2022-04-22 13:51] onein528 commented on #123
I am adding log more to make sure know where error or exception occured in now branch, so can you give me log again after merged that branch?

[2022-04-22 14:02] HenryWu01 commented on #123
Can you give me the branch name? I did not found it

[2022-04-22 14:05] onein528 commented on #123
I'm working on issue/PR event getters, so I will add on this: `issuepr-events` branch.

[2022-04-22 14:08] onein528 commented on #123
added now first commit about this. can you check out, build, and, give me log?

[2022-04-22 14:08] HenryWu01 commented on #123
Sure, I will check it out now.

[2022-04-22 14:13] HenryWu01 commented on #123
Here is the log.
[Log20220422.log](https://github.com/fluenthub-community/FluentHub/files/8541675/Log20220422.log)

[2022-04-22 14:16] onein528 commented on #123
ah, I cannot fix right away. it takes long time to fix. sorry but this is first priority!

[2022-04-22 14:19] onein528 commented on #123
just checking, can you build with two breakpoint?

here
![image](https://user-images.githubusercontent.com/62196528/164732762-5f157c3e-ff2f-4891-b181-70964db8ccac.png)

maybe your machine through first breakpoint but please check these value not null

![image](https://user-images.githubusercontent.com/62196528/164733082-f5a74457-465d-4cf7-85a3-d4d18aa21cbb.png)

[2022-04-22 14:20] HenryWu01 commented on #123
Sure, please wait a minute.

[2022-04-22 14:23] HenryWu01 commented on #123
![image](https://user-images.githubusercontent.com/99880210/164733848-d2ca7c16-7bd9-41e4-b3e5-6ad71f66783a.png)
No, there all have value

[2022-04-22 14:26] onein528 commented on #123
ohh very compacated 🤯. confusing...

[2022-04-22 14:27] onein528 commented on #123
do you have here's?

![image](https://user-images.githubusercontent.com/62196528/164734656-845a6ba0-f48a-4705-97d9-53c53b1d64d0.png)

[2022-04-22 14:28] HenryWu01 commented on #123
No, I only have this one:
![image](https://user-images.githubusercontent.com/99880210/164734945-bc2bb8c4-d0b7-4b3e-b69b-1baabb19e040.png)

[2022-04-22 14:29] onein528 commented on #123
it seems that method fails when creating access token.

[2022-04-22 14:30] HenryWu01 commented on #123
Wired...I will have a look too

[2022-04-22 14:54] HenryWu01 commented on #123
You're right, it crashes when executing ``CreateAccessToken`` function.

[2022-04-22 14:56] HenryWu01 commented on #123
The error message is ``安全频道支持出错``, which I think might be related to TLS version?

[2022-04-22 15:01] onein528 commented on #123
FYI https://stackoverflow.com/questions/21354992/an-error-occurred-in-the-secure-channel-support-classic-asp-http-request

maybe true and is not FluentHub problem. this is caused in HttpClient

[2022-04-22 15:30] HenryWu01 commented on #123
Might be related to .NET's HttpClient, Windows 11 or OctoKit, got not idea to resolve this issue. All information available is for VB, ASP, etc.

[2022-04-22 15:35] HenryWu01 commented on #123
Do you have like a release version of FluentHub? I want to try that out to eliminate some possibilities.

[2022-04-22 19:55] BobbyESP commented on #123
I'm looking for a Release build, wait a minute please

[2022-04-22 19:57] BobbyESP commented on #123
https://drive.google.com/file/d/1nvdwftYfFkBGRZctieVIK2rPfQ4Qct_l/view?usp=sharing

Please, try with that one. Build date: 2/4/22

[2022-04-22 23:16] onein528 commented on #123
we can create on azure pipelines. im on it

[2022-04-22 23:20] onein528 commented on #123
https://dev.azure.com/fluenthub-community/FluentHub/_build/results?buildId=598&view=results

when it finished, click 'artifacts' and can download packages

[2022-04-22 23:21] BobbyESP commented on #123
Nice

[2022-04-23 01:46] HenryWu01 commented on #123
Thank you. Unfortunately it crashes again :|

[2022-04-23 01:50] HenryWu01 commented on #123
Here is the new log:
[Log20220423.log](https://github.com/fluenthub-community/FluentHub/files/8545809/Log20220423.log)

I think we may create a issue in Octokit?

[2022-04-23 02:03] HenryWu01 commented on #123
It turns out that my hypothesis was actually correct, for those who face this issue, open "Internet Properties", click "Advance" and Select all TLS and SSL version. This even solves My Microsoft Store issue! Weird Windows 11.

[2022-04-23 02:04] HenryWu01 commented on #123
Like this:
![image](https://user-images.githubusercontent.com/99880210/164863685-27770148-4c68-4920-bf87-8c0dd2b0272f.png)

[2022-04-23 02:21] HenryWu01 opened #124 "There is no overview should be hidden after data loads up"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11

### What FluentHub version/architecture are you seeing the problem on?

0.7.13.0 | X64 | DEBUG

### Description

Where I use FluentHub to load organization's repository, It

[2022-04-23 05:02] onein528 commented on #124
now tracking

When query organization repository info, it fails because of oauth restriction. this is default settings so we need to handle this failure. maybe it caused by this reason.

[2022-04-23 06:55] HenryWu01 commented on #124
Actually this is my organization, for some other organization it fails with error message you said above. I also found that it sometimes freeze and crash when loading my organization.

[2022-04-23 07:03] onein528 commented on #123
nice. did you fix this issue?

[2022-04-23 07:10] onein528 commented on #124
ok. I'm fixing that

[2022-04-23 07:21] HenryWu01 commented on #124
Thank you :) I like this software so much :D

[2022-04-23 07:23] HenryWu01 commented on #123
Yes, After I change the SSL & TLS version, this issue immediately went away. Even my Microsoft Store went to normal

[2022-04-23 07:39] onein528 commented on #123
do you think this issue closed? you had to change that settings but I think this problem is not related our app.

[2022-04-23 07:50] HenryWu01 commented on #123
Sure, this is issue is not related to FluentHub at all. Just some weird Windows 11 issue.

[2022-04-23 07:50] #123 closed

[2022-04-23 07:51] onein528 commented on #124
Updated the view model to dependency injection and improved the UI to make it easier to understand what the organization is about.

![image](https://user-images.githubusercontent.com/62196528/164885454-8e535ea2-6c10-445f-933a-d1cecbf85360.png)

I own this org so never gonna happen OAuthRestriction exception.
but other orgs:(

[2022-04-23 07:56] HenryWu01 commented on #124
Other organization will have OAuthRestriction, but for the origanzation you own, FluentHub may freeze and I did not found any exception relate to it.

[2022-04-23 07:57] onein528 commented on #124
crash app with no exception?

[2022-04-23 08:02] HenryWu01 commented on #124
Not from code I think. It was a layout issue. The app freeze but did not crash.
![image](https://user-images.githubusercontent.com/99880210/164885980-94b5153f-e8c5-4c30-8017-64b0d0ba4186.png)

[2022-04-23 08:06] onein528 commented on #122
This feature is one of the most important. I would like to parameterize the URL when I click on a tree or blob item in the repository or when I click on some button and navigate. do so, more confotable when navigate page.

[2022-04-23 08:07] onein528 commented on #122
and we need to create hander and parser

[2022-04-23 08:08] onein528 commented on #124
this is happen when occur xaml unhandled exception. very interesting.

[2022-04-23 08:10] HenryWu01 commented on #124
It's my private organization. I don't know if you can reproduce the issue.
Here is the link https://github.com/ReXu-Island

[2022-04-23 08:13] onein528 commented on #124
ok, same issue

![image](https://user-images.githubusercontent.com/62196528/164886346-9db3a796-cb94-487f-aaba-ad38d25530fc.png)

[2022-04-23 08:13] BobbyESP commented on #123
Nice! We should add this information to the README, or the installation guide

[2022-04-23 08:15] HenryWu01 commented on #124
Let me see if there is an option to disable oauth app restriction.

[2022-04-23 08:17] onein528 commented on #124
here you are https://docs.github.com/en/organizations/restricting-access-to-your-organizations-data/disabling-oauth-app-access-restrictions-for-your-organization

[2022-04-23 08:20] onein528 commented on #124
app does nice work

![image](https://user-images.githubusercontent.com/62196528/164886581-f6e297f8-7787-4e03-abce-2fbc0da9d354.png)

[2022-04-23 08:20] HenryWu01 commented on #124
That's weird. Does not work on side. I will look into this

[2022-04-23 08:21] onein528 commented on #123
good idea, this app have some restrictions.

[2022-04-23 08:21] onein528 commented on #124
very weird.

[2022-04-23 08:22] HenryWu01 commented on #124
It sometimes can load the data, sometimes failed. I just success once and now I face the exact same issue

[2022-04-23 08:29] BobbyESP commented on #104
#123 Take a look to this issue. If your problem is not solved, we will reopen the issue.

[2022-04-23 08:29] #104 closed

[2022-04-23 08:29] onein528 commented on #124
So far, what version you use? main branch? if you do so, check out to issuepr-event branch and build please and check those issues

Disabled restriction exception in app.

![image](https://user-images.githubusercontent.com/62196528/164886888-547e7ecb-81d7-417c-9cdc-87e536a9a4e4.png)

[2022-04-23 08:38] HenryWu01 commented on #124
This does not happen for my organization not, or can I say this freeze happen less often. However when I click into Files Community, got in and back, switch between Overview and Repositories tab, freeze might happen as well.

[2022-04-23 08:39] HenryWu01 commented on #124
![image](https://user-images.githubusercontent.com/99880210/164887220-806a1c73-2529-4d6c-821a-5e01b0d5b527.png)
![image](https://user-images.githubusercontent.com/99880210/164887230-42b3013d-5708-4aed-b43f-83323b52be5e.png)

[2022-04-23 09:36] onein528 commented on #124
what.... page does work correctly. but occur xaml unhandled exception

[2022-04-23 09:37] onein528 commented on #124
can you track when this occur using breakpoint?

[2022-04-23 09:38] onein528 commented on #124
First, here:

![image](https://user-images.githubusercontent.com/62196528/164889129-5297ab0d-d952-436b-83d2-76f2a6de8c1c.png)

[2022-04-23 10:18] HenryWu01 commented on #124
This breakpoint was triggered, now I might reproduce after clicking repository tab

[2022-04-23 12:13] onein528 commented on #124
ok

[2022-04-23 13:10] HenryWu01 commented on #124
I have done that. The exception was after the break point actually. When I click repository tab

[2022-04-23 13:12] onein528 commented on #124
ok. can you tell me more specific? your feedback is very very helpful and thank you!

[2022-04-23 14:27] HenryWu01 commented on #124
Now it's not reproducible again...This almost drive my crazy, I will report it again when it occurs.

[2022-04-24 06:36] #124 closed

[2022-04-24 06:37] onein528 commented on #124
if the exception occur again, please tell me and I will reopen.

[2022-04-25 14:37] nathayoung commented on #123
@HenryWu01 are you running the GA version of Win 11 or are you running an insider build?  I still can't get this to work but I'm in the Win 11 Dev ring so I'm wondering if I can blame that...

[2022-04-25 14:44] BobbyESP commented on #123
@nathayoung  Please, go to Win + R and write inetcpl.cpl. After that, go to the advanced settings and scroll all down of that menu. Now, activate all TLS and SSL versions, restart the computer if is needed and try to login.

[2022-04-25 14:44] BobbyESP commented on #123
<img width="79" alt="image" src="https://user-images.githubusercontent.com/60316747/165113319-790574fe-6bf0-4170-a48f-fd92e5652318.png">

[2022-04-25 14:46] onein528 commented on #123
We need notice this. I created General Updates 7 branch and I will change README

[2022-04-25 14:56] onein528 commented on #123
how about?

![image](https://user-images.githubusercontent.com/62196528/165115515-98e0aaea-6009-42f6-9360-f9d6d1a323ef.png)

[2022-04-25 14:57] BobbyESP commented on #123
instead of enabled, disabled.

[2022-04-25 14:57] BobbyESP commented on #123
Because the problem is when they're off. But nice!

[2022-04-25 15:17] BobbyESP commented on #123
Nice @onein528

[2022-04-25 17:43] hedhehd opened #129 "30+ Minutes and it still didn't open with my Browser"
### Before you start...

- [x] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11 Beta

### What FluentHub version/architecture are you seeing the problem on?

The latest version 0.7.13

### Description

Not sure how this happened and why. But apparently,

[2022-04-25 18:02] BobbyESP commented on #129
What's your default browser?

[2022-04-25 18:32] hedhehd commented on #129
I know why...
https://github.com/fluenthub-community/FluentHub/blob/main/docs/build-from-source.md
I missed that

[2022-04-25 18:32] #129 closed

[2022-04-25 19:22] hedhehd commented on #123
Did not help!

[2022-04-25 19:22] hedhehd commented on #123
Even a restart

[2022-04-25 19:25] BobbyESP commented on #123
Wow, that's truly weired.

[2022-04-25 19:40] hedhehd commented on #123
0.7.13

[2022-04-25 20:58] BobbyESP commented on #123
Ok, thanks. Did you readed the how to build reamde?

[2022-04-26 13:26] hedhehd commented on #123
Yes

[2022-04-26 13:26] hedhehd commented on #123
Did exactly the same

[2022-04-26 13:53] hedhehd commented on #123
Wait there's a log file?

[2022-04-26 13:57] onein528 commented on #123
Can you authoriza the app(and then, You can go homepage even if whatever occur)?

[2022-04-26 14:01] hedhehd commented on #123
How

How?

[2022-04-26 14:01] onein528 commented on #123
just launch app.

[2022-04-26 14:02] onein528 commented on #123
![image](https://user-images.githubusercontent.com/62196528/165317412-ecd16565-c411-4509-be2d-809b93efe2f6.png)

[2022-04-26 14:05] onein528 commented on #123
Isee... Did you put credentials to config file?

[2022-04-26 14:06] hedhehd commented on #123
Yes

[2022-04-26 14:07] hedhehd commented on #123
Or else #129

[2022-04-26 14:11] onein528 commented on #123
@hedhehd
![image](https://user-images.githubusercontent.com/62196528/165319281-971bc42c-8c15-4b9c-bc02-df93755f884a.png)

can you set breakpoints in these point?

[2022-04-26 14:16] onein528 commented on #123
and get values in `query` valuable(hover `query` and get `.Query` value).

List this:

![image](https://user-images.githubusercontent.com/62196528/165320464-bc0931ac-6dd2-461a-99c3-ac8ea922d1d6.png)

[2022-04-26 14:33] hedhehd commented on #123
I don't know how even if you said it.

[2022-04-26 14:37] onein528 commented on #104
duplicate of #123

[2022-04-26 14:47] hedhehd commented on #123
This is vs 2022

[2022-04-26 14:48] hedhehd commented on #123
Which vs do I have to use?

[2022-04-26 14:52] onein528 commented on #123
yes, 2022.

1. set breakpoints
2. build
3. get value

[2022-04-26 14:52] hedhehd commented on #123
Breakpoints can't be set there

[2022-04-26 14:54] onein528 commented on #123
i will sleep

[2022-04-26 14:54] hedhehd commented on #123
Okay

[2022-04-26 15:02] nathayoung commented on #123
I can replicate this.  I'll send over what I have

[2022-04-26 15:05] hedhehd commented on #123
IT WORKED

[2022-04-26 15:05] hedhehd commented on #123
I UPDATED IT

[2022-04-26 15:06] hedhehd commented on #123
Issue is closed

[2022-04-26 15:07] onein528 commented on #123
very heated. @BobbyESP Can we lock this conversation?

[2022-04-26 15:08] onein528 commented on #123
or we can create new conversation.

[2022-04-26 15:09] onein528 commented on #123
@nathayoung App does work in your machine?

[2022-04-26 15:12] nathayoung commented on #123
just fetched.  on the main branch and not getting any new stuff.  I even moved to an entirely new machine and started completely over.  This is crazy 😂

[2022-04-26 15:16] onein528 commented on #123
okay.. do you get issue even though?

[2022-04-26 15:19] hedhehd opened #130 "App have unhandled exception Cannot convert Null to Int32"
### Before you start...

- [x] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11 Beta

### What FluentHub version/architecture are you seeing the problem on?

0.7.13.0 | X64 | DEBUG

### Description

Just fetched and it fixed #123 but it created another

[2022-04-26 15:19] hedhehd commented on #130
You can just block the user to use another domain just GitHub and any other related.

[2022-04-26 15:19] nathayoung commented on #123
Yup.  Just installed it on my machine.  is this what you want:
![image](https://user-images.githubusercontent.com/46688736/165334776-d11f01be-c19b-4ea3-aa75-7016b7245b41.png)

[2022-04-26 15:20] onein528 commented on #123
Nice. it's up-to-date. can you build and launch?

[2022-04-26 15:21] nathayoung commented on #123
I'll send a video shortly

[2022-04-26 15:24] hedhehd commented on #130
![image](https://user-images.githubusercontent.com/81228260/165335836-3de8505e-469d-4f75-b13d-5dd149ee94ff.png)

[2022-04-26 15:26] onein528 commented on #130
This is with clicking user block button?

[2022-04-26 15:27] hedhehd commented on #130
No not even repositories

[2022-04-26 15:27] onein528 commented on #130
I don't implement going via URL

[2022-04-26 15:28] onein528 commented on #130
cannot click repositories and users?

[2022-04-26 15:28] hedhehd commented on #130
I can

[2022-04-26 15:29] onein528 commented on #130
ok. can you send me log file?

[2022-04-26 15:29] hedhehd commented on #130
![image](https://user-images.githubusercontent.com/81228260/165336786-79d52481-7e76-4ffe-93f1-10e37dbf1f85.png)
And also Pull requests doesn't allow you

[2022-04-26 15:29] hedhehd commented on #130
[Log20220426.log](https://github.com/fluenthub-community/FluentHub/files/8564629/Log20220426.log)

[2022-04-26 15:30] hedhehd commented on #130
![image](https://user-images.githubusercontent.com/81228260/165337157-4878c22a-fdf6-4ca3-80b4-01c337dfcb29.png)
![image](https://user-images.githubusercontent.com/81228260/165337205-032a59df-85ad-451a-9aa4-97655b0c4678.png)
My pfp is blank

[2022-04-26 15:31] nathayoung commented on #123
Here's what's happening for me...

https://user-images.githubusercontent.com/46688736/165337396-7b99a6a7-afaa-4c15-9638-a471a91e574d.mp4

[2022-04-26 15:31] onein528 commented on #130
Yep. does not implement. very complicated about getting via GitHub API.

[2022-04-26 15:33] hedhehd commented on #130
I'm gonna check

[2022-04-26 15:34] hedhehd commented on #130
Btw I noticed you can't create issue or comment but I guess it's gonna be added soon

[2022-04-26 15:35] onein528 commented on #123
What.. very confusing. can you track with setting breakpoint?

[2022-04-26 15:38] hedhehd commented on #130
And I would suggest having a home page like GitHub so you can navigate through stuff and search for user or basically everything, not just your user site.

[2022-04-26 15:38] hedhehd commented on #130
But I guess that's all I found

[2022-04-26 15:43] nathayoung commented on #123
I can but first it gave me a suggested action to install System.Runtime. I might have missed an installation on setup.  Let me try again with that installed.

That worked.   Finally!  Thanks for the support!  I apologize for my incompetence 😂
![image](https://user-images.githubusercontent.com/46688736/165339579-562c7f63-aaec-4800-99c5-720f591c4b04.png)

[2022-04-26 15:47] onein528 commented on #123
And if you want to unlock/reopen, let us know in discord.

[2022-04-26 15:57] #10 closed

[2022-04-26 15:58] #58 closed

[2022-04-26 15:59] hedhehd commented on #130
Is it normal that you can't interact with issues on the home page side bar and discussions?

[2022-04-26 16:01] onein528 commented on #130
Yes. I will add a little more very soon.

[2022-04-26 16:03] onein528 commented on #130
We would like various people to test the current state of the application, but few users have done so. This is because of the complex steps involved at build time. A means exists to remove this procedure.

[2022-04-26 16:05] onein528 commented on #130
And I am a student of Japanese. I dont have much time to develop this app. but I am working on this and spending as much time as I can on this.

[2022-04-30 13:36] onein528 commented on #130
Can you check out to GU7 branch, build, and confirm that this issue you have been opened have been fixed?

[2022-04-30 14:28] hedhehd commented on #130
![image](https://user-images.githubusercontent.com/81228260/166109682-87017ba1-375e-45b0-a12e-e28dbe63ab7f.png)

[2022-04-30 14:29] hedhehd commented on #130
![image](https://user-images.githubusercontent.com/81228260/166109697-1cca1b94-8c69-4f7c-a489-3f3ff93aa2b7.png)

[2022-04-30 14:33] hedhehd commented on #130
And when I tried to reinstall it, this happens every time when I authenicate. It's just stuck at that screen.
![image](https://user-images.githubusercontent.com/81228260/166109831-4e299d57-bbca-455a-a017-59321c8167ad.png)

[2022-04-30 14:37] onein528 commented on #130
I cannot figure out with those screenshot. Can you track that?

- [ ] NullRef: owner (unknown page)
- [ ] NotSupported: Select()
- [ ] Stuck in auth page

[2022-04-30 14:56] hedhehd commented on #130
No

[2022-04-30 14:59] onein528 commented on #130
Why?

[2022-05-01 02:58] iiAhmedYT opened #132 "Discord Link"
Hello,

Seems like the person who made the README.md isn't very familiar with discord invites. since the link in the readme file isn't a link you can actually join the server with (unless you are in the server it will send you to there).
However, creating an invite link is really simple on discord. You can even make it not expire :)
Googling that will take about 10 seconds since there's a top resu

[2022-05-01 05:34] onein528 commented on #132
I will do that. But you can create PR to contribute as your name.

[2022-05-01 11:58] #132 closed

[2022-05-01 13:58] #130 closed

[2022-05-05 05:26] onein528 commented on #101
@esibruti Can you give me this SVG file, with the DEV labels removed and colorized to look like the current logo as soon as you can? (I have no much time since I am student and have many exams)

![image](https://user-images.githubusercontent.com/62196528/166867196-f02a18f3-eac0-4a30-89fc-0a6173b7aff2.png)

I have colorized with two graduation point(1: #ED4E50, 2: #F06F00)

![image](https://user-im

[2022-05-05 05:29] onein528 commented on #101
I apologize for any inconvenience this has caused you in the past.

[2022-05-05 05:36] onein528 commented on #122
We need to discuss how to implement this. I have an idea, but @luandersonn has better than mine, maybe.

[2022-05-05 20:17] luandersonn commented on #122
UWP has an API for this. https://docs.microsoft.com/en-us/windows/uwp/launch-resume/web-to-app-linking

[2022-05-07 14:11] onein528 commented on #122
Yea. good. but problem is how parse the url user gave: when user enter the specific url, we need to discuss how to navigate page

[2022-05-11 11:10] M7MDE7EGAZY opened #138 "Authorization isn't working properly"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11 Dev

### What FluentHub version/architecture are you seeing the problem on?

0.3.0
X64

### Description

The Authorization isn't working

### Steps To Reproduce

_No respons

[2022-05-11 11:14] onein528 commented on #138
Can you paste log files or log screenshots?

[2022-05-11 11:26] M7MDE7EGAZY commented on #138
`<img src="https://media.discordapp.net/attachments/957221676863602698/973903549136248872/Screenshot_2022-05-11_122612.png">
`

[2022-05-11 11:27] M7MDE7EGAZY commented on #138
![Screenshot 2022-05-11 122612](https://user-images.githubusercontent.com/76889809/167838651-e0267ee6-da91-4bc8-bdd4-0a115bf5ff70.png)

[2022-05-11 11:41] onein528 commented on #138
can you rebuild with deleting all chaches(by solution cleaning or re-clone).

[2022-05-11 12:13] M7MDE7EGAZY commented on #138
i'll try

[2022-05-11 12:52] onein528 commented on #138
on my machine, good work. so this is a not general issue.

[2022-05-13 06:50] onein528 commented on #101
@esibruti some progress?

[2022-05-13 08:21] esibruti commented on #101
@onein528 I really don't have any time these days but here is the file:
![gitLogo](https://user-images.githubusercontent.com/78214358/168242101-dbf338bd-e1ba-4021-9fad-b9211020882b.svg)

[2022-05-13 08:22] onein528 commented on #101
wow nice!

[2022-05-13 08:46] onein528 commented on #101
![fluenthub-new-logo](https://user-images.githubusercontent.com/62196528/168246657-09cfd323-17e5-474a-8373-91e76724746a.svg)

how do you feel?

[2022-05-13 09:53] #101 closed

[2022-05-13 19:18] nathayoung opened #143 "Following count raises exception or does nothing"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11 Dev

### What FluentHub version/architecture are you seeing the problem on?

0.3.0 | X64 | DEBUG

### Description

Selecting the number of those following raises an exceptio

[2022-05-13 23:02] onein528 commented on #143
now, I am in school. when back home, I will go on this.

[2022-05-14 05:27] onein528 commented on #143
I can see this problem on my machine.
I will fix this.

Thank you for your feedback!

[2022-05-15 04:37] onein528 commented on #143
Fixed in e17357b

[2022-05-15 04:37] #143 closed

[2022-05-15 12:49] onein528 commented on #138
@M7MDE7EGAZY Any progress?

[2022-05-15 13:47] M7MDE7EGAZY commented on #138
nothing new , i'll try after exams again

[2022-05-18 21:38] HelderRocket commented on #138
It also happens in Windows 10, the store version.
It does not advance from this screen.

![image](https://user-images.githubusercontent.com/104467221/169160014-9faebfab-a119-467d-8ff7-fd7fec406e94.png)

[2022-05-19 05:05] onein528 commented on #138
i can see same error on app which downloaded from ms store.

and error is Does not support Select(). in authorization phase

[2022-05-21 06:55] onein528 commented on #138
@M7MDE7EGAZY @HelderRocket Can you show me logs in FluentHub.Logs and FluentHub.Octokit.Logs?

[2022-05-21 09:33] DeveloperWOW64 opened #146 "Users have unformatted icons"
### Before you start...

- [X] Have you updated the FluentHub? You might be using an old version.
- [X] Have you checked if similar issue have already been reported?

### What windows are you seeing the problem on?

Windows 11

### What FluentHub version/architecture are you seeing the problem on?

0.3.0.0 | X64 | DEBUG

### Description

(for me, at least)
My user icon in the top right is not form

[2022-05-21 09:38] BobbyESP commented on #138
I think this happened to us before @onein528

[2022-05-21 10:01] onein528 commented on #138
right. but suddenly fixed that at that time. at this time, suddenly appear this issue. very wierd. this is not our project's issue(maybe Octokit.NET issue).

[2022-05-21 10:04] BobbyESP commented on #138
Yeah, maybe it's... When i finish my exams i would take a look

[2022-05-21 10:04] onein528 commented on #138
ok

[2022-05-21 10:05] onein528 commented on #146
I will fix this issue on #137

[2022-05-21 15:02] HelderRocket commented on #138
How do I do this?
😅😅

[2022-05-21 15:14] onein528 commented on #138
@M7MDE7EGAZY

downloaded from Store: `C:\Users\username\AppData\Local\Packages\49462fluenthub-uwp.FluentHub_tq8wa33sfftnm\LocalState`

build from source: `C:\Users\username\AppData\Local\Packages\FluentHubAlpha_9es9q7t8fr9b8\LocalState`

[2022-05-21 15:20] onein528 commented on #138
Why is there difference.

![image](https://user-images.githubusercontent.com/62196528/169658135-130c4ea4-783e-4354-9701-1cfedddd6ddd.png)

[2022-05-21 15:50] HelderRocket commented on #138
2022-05-18 16:31:38.572 -05:00 [ERR] RequestOAuthTokenAsync(): Select() is not supported
2022-05-18 16:33:06.703 -05:00 [INF] RequestGitHubIdentityAsync() completed successfully: [url: "https://github.com/login/oauth/authorize?client_id=0c0d30a8cbd9465373e2&scope=repo%2Cworkflow%2Cwrite%3Apackages%2Cdelete%3Apackages%2Cadmin%3Aorg%2Cadmin%3Apublic_key%2Cadmin%3Arepo_hook%2Cadmin%3Aorg_hook%2Cgist%

[2022-05-21 16:01] onein528 commented on #138
@HelderRocket From ms store?

[2022-05-21 16:03] onein528 commented on #146
can you check if this issue was solved by GU9?

[2022-05-21 17:19] DeveloperWOW64 commented on #146
sure

[2022-05-21 19:54] Mabc365 commented on #138
same issue for me too

[2022-05-21 20:09] HelderRocket commented on #138
Yes, it is the store version (I have the old version because I recently restored the computer).

![image](https://user-images.githubusercontent.com/104467221/169667444-5e8bca75-1938-4410-8864-96629a0b2087.png)

[2022-05-21 22:26] nathayoung commented on #146
Looks like it's fixed in gu9:
<img width="300" alt="image" src="https://user-images.githubusercontent.com/46688736/169670852-26bcdfff-5797-4fd4-b383-50bc7a455472.png">

[2022-05-21 23:13] onein528 commented on #146
Nice!

[2022-05-21 23:14] onein528 commented on #138
I will implement authorization service without using Octokit.Net. Also use row http request.

[2022-05-21 23:16] onein528 commented on #138
Then, i will publish app package, same as store version, can yall be tester?

@BobbyESP
@M7MDE7EGAZY
@Mabc365
@HelderRocket
@luandersonn
@DeveloperWOW64

[2022-05-22 06:07] DeveloperWOW64 commented on #138
sure

[2022-05-22 23:43] HelderRocket commented on #138
Yea, sure. 😃

[2022-05-23 08:13] BobbyESP commented on #138
WHen i finish my exams i'll be tester and developer

[2022-05-23 22:36] #146 closed

[2022-05-24 07:10] DeveloperWOW64 opened #156 "Errors with e6f128a"
### Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### What version of Windows is this issue present?

Windows 11

### What version/architecture of FluentHub are you on?

DEBUG on x64, 0.3.0

### Description

Commit e6f128a80ae7d25271859476c7a6aedc3bac2f10 on #155 causes errors with Flu

[2022-05-24 10:26] onein528 commented on #156
This is because if your precious changes?

[2022-05-24 10:40] onein528 commented on #156
I merged unbuildable changes... sorry.

[2022-05-24 17:56] Lamparter opened #158 "Add theming"
### Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### Description

Add options to select various different themes in a similar way to @files-community.

### Alternative solutions

_No response_

### Relevant Assets

_No response_

[2022-05-24 23:05] onein528 commented on #158
yes. I have Theme/Default dir, but I have added that resources previously, occurred unknown xaml exception.

[2022-05-25 05:56] DeveloperWOW64 commented on #158
Yeah I saw that - maybe want to ask @yaichenbaum how it works in Files

[2022-05-25 09:31] onein528 commented on #158
I see.

[2022-05-25 10:22] #156 closed

[2022-05-25 10:22] onein528 opened #162 "Update screenshots in README.md"
As the title.

[2022-05-26 06:42] Lamparter opened #164 "Grammar Mistake Tracker"
# 🪲 Grammar Mistake Tracker

The point of this issue is to track bugs in spelling, punctuation and grammar (SPaG) that will be resolved in a later GU or if this tracker issue gets a lot of issues, its own PR.

### Currently tracked mistakes

| Mistake | Type of Mistake | File | Status |
 ---| ---| ---| ---|

[2022-05-26 08:08] onein528 commented on #162
Done in main https://github.com/FluentHub/FluentHub/commit/6e8680cb84427e8783e7c520cd021393fa869401

[2022-05-26 12:10] 0x5bfa opened #166 "Feature: Add push-notification functionality"
Ghostly might help us.

[2022-05-26 12:11] onein528 commented on #166
https://github.com/patriksvensson/ghostly

[2022-05-26 12:44] ioapiset commented on #166
Good

[2022-05-27 09:12] BobbyESP commented on #8
ADVISEMENT: This feature will be included in next updates. Due to the final exams at my school, i won't be able to work on it until 6th of June. Sorry for the inconveniences.

[2022-05-27 10:06] onein528 commented on #138
Guys, I am ready to publish next generation v0.3.6 app package. Then I want you to test if authorization does work well.

To do for v0.3.6

- Update authorization phase
  - take a look at some docs for auth
- Update the structure of app sources(move methods in App.xaml.cs to other file and more).

If you encounter a issue, let me know what is wrong with app's log.

[2022-05-27 10:07] DeveloperWOW64 commented on #138
Via GH Releases?

[2022-05-27 10:09] onein528 commented on #138
No, via the artifacts which is generated by Build Azure Pipeline.

Give you the link later

[2022-05-27 14:51] onein528 commented on #138
Select used  in UserQueries.cs

First trying: (but it will fail)

https://fluenthub-community.visualstudio.com/FluentHub/_build/results?buildId=747&view=artifacts&pathAsName=false&type=publishedArtifacts

[2022-05-27 14:52] onein528 commented on #138
I can delete this code

[2022-05-27 15:18] onein528 commented on #138
Wow. unbelievable. FluentHub is terrible ans also fuck me up. i think it is better that I remove this project.

Cannot fix this issue.

[2022-05-27 16:11] BobbyESP commented on #138
For me it works
<img width="500" alt="image" src="https://user-images.githubusercontent.com/60316747/170737796-154e8f43-0115-4e68-ac6f-fce31381cff0.png">

[2022-05-27 16:16] BobbyESP commented on #138
And well, if the people are not able of installing the app with the .msixbundle, they can just install it using the .ps1 file, is easier!
The .ps1 automatically installs the certificate in case you dont have it, and the app.

[2022-05-27 16:25] BobbyESP commented on #138
https://user-images.githubusercontent.com/60316747/170740052-7820b598-d8a0-4ba8-878b-cce56dd8d32d.mp4

[2022-05-27 16:58] DeveloperWOW64 commented on #138
We can just code a Win32 that installs the ps1 and publish the win32 to the store

[2022-05-27 18:12] HelderRocket commented on #138
Oh, yes, it worked like that.
Too bad it still doesn't advance from this screen.

![image](https://user-images.githubusercontent.com/104467221/170767271-f86be264-e589-4ceb-ad7e-48d1b777780b.png)

[2022-05-27 18:15] DeveloperWOW64 commented on #138
Sadly, there's no way to create a debug msixbundle. We'll just have to abandon upload to the Store. 😢

[2022-05-27 18:15] BobbyESP commented on #138
Yeah :(( I'll take a look to it in a few hours if i'm able!

[2022-05-27 22:43] onein528 commented on #138
I understand. this is not auth error or issue. just Linq missing error i think.

[2022-05-28 04:34] onein528 commented on #138
it seems that auth method will fail when querying signed in user login name. I can delete this code. but if this doesn't work well, it means that all other queries will fail. So it's just a workaround and it can't be completely fixed and it seems to be due to the efficiency when generating the release package.

[2022-05-28 05:48] DeveloperWOW64 commented on #138
Create a seperate branch and experiment?

[2022-05-28 05:54] onein528 commented on #138
for what?

[2022-05-28 07:06] onein528 commented on #138
nice idea. i can.

[2022-05-28 07:07] DeveloperWOW64 commented on #138
It was your idea

[2022-05-28 14:22] onein528 commented on #138
More specific

[code]

[2022-05-28 14:24] onein528 commented on #138
@DeveloperWOW64 Experiment with GU10 latest commit `Experimental commit`

Artifacts here: https://fluenthub-community.visualstudio.com/FluentHub/_build/results?buildId=749&view=artifacts&pathAsName=false&type=publishedArtifacts

[2022-05-28 15:48] HelderRocket commented on #138
It worked!
Well, in part.

![image](https://user-images.githubusercontent.com/104467221/170832655-ce41921d-4a1d-4be1-82d3-68c08e912aa8.png)

It does not load anything, not even by link.

[2022-05-28 15:58] onein528 commented on #138
yes, so do I. So this is not auth problem and also not FluentHub problem. just Linq problem. maybe missing assemblies for System.Linq.

[2022-05-28 16:09] 0x5bfa opened #169 "Select() is not supported on release configured FluentHub"
### Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### What version of Windows is this issue present?

Windows 11

### What version/architecture of FluentHub are you on?

v0.3.0 RELEASE

### Description

previously, this problem was thought as authorization problem, but it seems that ca

[2022-05-29 04:59] onein528 commented on #169
Octokit.GraphQL.NET uses

[code]

[2022-05-31 07:18] onein528 commented on #166
How about setting up a task to get notifications every 15 seconds?

[2022-05-31 07:49] onein528 commented on #166
Yep. I am not familiar with background tasks and toast notifications. so it will take long time to implement this(have to learn about that).

[2022-05-31 07:52] DeveloperWOW64 commented on #166
https://apps.microsoft.com/store/detail/notifications-visualizer/9NBLGGH5XSL1

[2022-05-31 07:53] onein528 commented on #166
15 seconds is too long?

[2022-05-31 07:54] onein528 commented on #166
and I dont know if this is best way to get.

[2022-05-31 07:54] DeveloperWOW64 commented on #166
WDYM?

[2022-05-31 07:58] onein528 commented on #166
Is it correct to get notifications at background time intervals and toast new items.

[2022-06-02 22:46] onein528 commented on #138
I should notice. I decided to abandon the option to publish to ms store and github releases. I could not solve this issue. but some progress there is. this issue is not auth problem and is caused by Select() - one of the Linq extention methods - in Octokit.GraphQL.Net
It seems that this is general issue, and so not only our app.

I have another option to this. but I have no time to switch to that

[2022-06-03 20:59] HelderRocket commented on #138
Is that error something generated by the tool you use to compile the application?

Sorry, I'm not very knowledgeable about how UWP apps work (although it even occurred to me to make a UWP app for Facebook and YT Music).

Maybe that bug can be reported to the tool developer.

[2022-06-03 22:46] onein528 commented on #138
Yes. I already reported to Octokit.GraphQL.net(is generated by this)

[2022-06-03 22:48] onein528 commented on #138
https://github.com/octokit/octokit.graphql.net/issues/262

but this project seems to be abandoned by owner(there are no activities these days)

[2022-06-03 23:56] HelderRocket commented on #138
I see it's specifically geared towards Github libraries, so I don't think it's possible to do what I came up with.

[2022-06-03 23:58] BobbyESP commented on #138
Maybe it's a good idea to mirror/fork the octokit library and fix the problem by ourselves

[2022-06-04 00:36] onein528 commented on #138
What is that.

[2022-06-04 16:07] DeveloperWOW64 opened #174 "Markdown formatting"
### Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### Description

Various changes to make README formatting more fluent:

1. Text written

should use InfoBar:

No InfoBar:
![image](https://user-images.githubusercontent.com/71598437/172013783-5e6ab3f2-97c0-420b-8b12-a8dd98b0541b.png)
InfoBar:
![image](https://user-images.githubusercontent.com/

[2022-06-04 16:24] onein528 commented on #174
used in the README are HTML and CSS.

[2022-06-04 16:25] DeveloperWOW64 commented on #174
Oh so its just previewed with web and not actually involved with FH?

[2022-06-04 16:25] onein528 commented on #174
This CSS has been a problem for some time. But once it was closed because we didn't think we could make something better than the current UI. https://github.com/FluentHub/FluentHub/issues/58

[2022-06-04 16:26] onein528 commented on #174
Yes. just borrowed from github-markdown-css

[2022-06-04 16:26] DeveloperWOW64 commented on #174
Ohh. Can we use custom CSS?

[2022-06-04 16:27] onein528 commented on #174
There is the idea of using MarkdownBlock or RichTextBlock, but I feel it should be discussed.

[2022-06-04 16:27] onein528 commented on #174
Of course.

[2022-06-04 16:27] onein528 commented on #174
https://github.com/FluentHub/FluentHub/tree/main/src/FluentHub/Assets/WebView

[2022-06-04 16:28] DeveloperWOW64 commented on #174
https://unpkg.com/fluent-svelte/theme.css

Maybe this will work?

[2022-06-04 16:29] onein528 commented on #174
should be. this css just declare variables

[2022-06-04 16:30] onein528 commented on #174
@BobbyESP He has said previously.

[2022-06-04 16:31] DeveloperWOW64 commented on #174
when?

[2022-06-04 16:31] onein528 commented on #174
https://github.com/FluentHub/FluentHub/issues/58#issuecomment-1045976174

[2022-06-04 16:33] onein528 commented on #174
Woow, nicee!

[2022-06-05 11:10] DeveloperWOW64 commented on #122
This feature just *might* conflict with GU11

[2022-06-05 11:15] BobbyESP commented on #122
Yeah, we'll take a look to this in future updates.

[2022-06-05 11:15] BobbyESP commented on #122
Maybe we need a roadmap

[2022-06-05 11:15] BobbyESP commented on #122
In trello or something like that

[2022-06-05 11:16] DeveloperWOW64 commented on #122
We can use GH Projects or MS loop but thats still in dev

[2022-06-05 11:31] onein528 commented on #122
this feature is developing on multi-account support PR.

[2022-06-05 11:34] onein528 commented on #122
@DeveloperWOW64 Why might be conflict?

[2022-06-05 11:39] DeveloperWOW64 commented on #122
Remember this conversation?
![image](https://user-images.githubusercontent.com/71598437/172048667-f1b4efe2-fa71-49a2-b9cd-8c841b193e25.png)
I added it in GU11

[2022-06-05 11:43] onein528 commented on #122
Yes. but then how do we implement how to navigate.

[2022-06-05 11:49] DeveloperWOW64 commented on #122
Yeah thats the problem

[2022-06-05 11:59] onein528 commented on #122
Since the implementation in GU10 is almost complete, would you please stop the implementation of the simplified URL in GU11? I may notice it when implementing that in repository pages.

[2022-06-05 12:05] DeveloperWOW64 commented on #122
Ooohh thats going to be difficult.
Are you sure GH links handling will fail?
We could make a converter that converts GH links to FH readable links

Url element = actual gh url
displayurl = readable url

[2022-06-05 12:13] onein528 commented on #122
There is a great deal of concern about conflicts when General Updates are rife,

[2022-06-05 12:17] DeveloperWOW64 commented on #122
Mm yes. What do you meant though when you say 'implememtation in GU10 is almost complete'

[2022-06-05 12:21] onein528 commented on #122
Until now, all pages related to the repository code have a ViewModel called RepoContextViewModel that holds the information that the URL has, such as the owner name, repository name, and default branch name, and passes it when navigating.　

However, in GU10, I am planning to implement a model called NavigateInfoModel that holds the URL and passes it during navigation.

![image](https://user-images

[2022-06-05 12:23] DeveloperWOW64 commented on #122
I thought you abandoned GU10

[2022-06-05 12:26] onein528 commented on #122
Yes. but this'll be GU10 https://github.com/FluentHub/FluentHub/pull/127 . that's reason why I asked you to change your branch name.

[2022-06-05 12:29] onein528 commented on #122
How to pass arguments when linking or navigating is a very serious problem. I think we need to discuss it very deeply.

[2022-06-05 12:30] DeveloperWOW64 commented on #122
Okay. I can make a discord voice/text/gh discussion for it?

[2022-06-05 12:31] DeveloperWOW64 commented on #122
Which one?

[2022-06-05 12:32] onein528 commented on #122
text one

[2022-06-05 12:34] DeveloperWOW64 commented on #122
🙃 https://discord.com/channels/935562861701390336/982985508634366002

[2022-06-06 10:24] onein528 opened #177 "README links"
Can we link docs pages to hub.cotex.dev

[2022-06-06 19:40] BobbyESP commented on #138
Well, forking the repository in the GitHub FluentHub organization and building us the dll files from source

[2022-06-06 21:57] onein528 commented on #138
the most problem is if we can fix that.

[2022-06-07 07:05] BobbyESP commented on #138
Okey nice. And suddenly yeah, i think that is abandoned

[2022-06-07 07:07] DeveloperWOW64 commented on #138
It seems difficult - but it's worth a try

[2022-06-07 07:27] BobbyESP commented on #138
Sorry, it's the only thing that occurs to me, just to try.

These days i'm gonna return to work. Today, my school is going to give me the final marks.

[2022-06-07 13:27] onein528 commented on #174
This app uses GitHub v3 Markdown API. but If we would like to use fluent-svelte style sheets, maybe this will be helpful. https://github.com/pablo-abc/svelte-markdown Do you @DeveloperWOW64 other than?

[2022-06-07 13:29] onein528 commented on #174
And we need to discuss alternative ways. WebView is very heavy. when use many times, it takes long time to load page. RichTextBlock may be still good way.

[2022-06-07 16:38] DeveloperWOW64 commented on #174
WDYM?

[2022-06-07 22:37] onein528 commented on #174
Do you know other than i told you?

[2022-06-08 06:28] DeveloperWOW64 commented on #174
Other MD css sheets?
If so, there's two good ones I found:
https://github.com/markdowncss/air
https://github.com/jasonm23/markdown-css-themes
https://takosthings.github.io/Fluent-Discord/Fluent-Discord.css

[2022-06-08 11:08] onein528 commented on #174
no. I really want to use fluent-svelte's stylesheet. so i thought we need a markdown parser for svelte in order to.

[2022-06-08 11:09] onein528 commented on #174
alt: maybe we should even create our own

[2022-06-08 11:17] onein528 commented on #174
but, at the point of view of the app performance, do not like to use WebView.

[2022-06-08 15:47] onein528 commented on #174
yes. and I have 3 ways to display markdown.

Way|good|bad
---|---|---
WebView -> Svelte -> fluent-svelte | very customizable | heavy
MarkdownTextBlock -> original resourcec dictionaryb | discustomizable | light-weight
RichTextBlock -> original user control | discostomizable | light-weight and can be fluent looks

If we will go with 1, we need a renderer for svelte

For example,
https://github.com/

[2022-06-08 15:51] DeveloperWOW64 commented on #174
The Files website used to use MDSVEX which is svelte-exmarkdown's predecessor

[2022-06-08 15:51] onein528 commented on #174
And also, our own css can be good.

[2022-06-08 15:52] onein528 commented on #174
We can use that? actually, i dont know about svelte.

[2022-06-08 15:55] DeveloperWOW64 commented on #174
Maybe.. 1 is definitely the  best option

[2022-06-08 15:59] onein528 commented on #174
okay let's go on. other github client app also use this option like JitHub, CodeHub.

[2022-06-09 07:08] DeveloperWOW64 opened #178 "Titlebar Conflicts Tracker"
# 🔝 Titlebar Conflicts Tracker

The point of this issue is to discuss and track progress on resolving conflicts with [General Updates 11](https://github.com/FluentHub/FluentHub/pull/176) / [Adding link parsing](https://github.com/FluentHub/FluentHub/issues/122)

## Info & Documentation

#### Files

![image](https://user-images.githubusercontent.com/71598437/172782057-f3e7b106-50ac-4230-8677-df437e

[2022-06-09 07:12] DeveloperWOW64 commented on #178
@onein528 @BobbyESP I'll see if I can start deving on GU11

[2022-06-11 07:50] #178 closed

[2022-06-12 11:25] onein528 commented on #138
Hi all. @BobbyESP @M7MDE7EGAZY @Mabc365 @HelderRocket @luandersonn @DeveloperWOW64

Upon verification, there was no problem with authentication, and there was a problem with the code that was getting the user's information at the time of authentication. But this wasn't an exception caused by our code, it was caused by Octokit.GraphQL. So I [reported it to the GitHub Octokit.GraphQL team on GitHub]

[2022-06-12 11:27] onein528 commented on #138
And I specify this in the README.

[2022-06-12 11:27] #138 closed

[2022-06-12 12:27] BobbyESP commented on #138
Okey, thanks for the info!

[2022-06-13 16:09] #8 closed

[2022-06-14 01:45] nathayoung opened #182 "Contribution graph not displaying correctly after GU 11"
### Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### What version of Windows is this issue present?

Windows 11 Dev

### What version/architecture of FluentHub are you on?

0.3.0.0 | X64 | DEBUG

### Description

Contribution graph under "Your Profile" is not displaying properly, or a

[2022-06-14 14:10] onein528 commented on #182
Done.
![image](https://user-images.githubusercontent.com/62196528/173598066-103af869-0912-4064-a0d3-677374fc403b.png)

[2022-06-14 14:40] nathayoung commented on #182
Awesome.  It looked like a quick fix.  Thanks!

[2022-06-15 12:48] #169 closed

[2022-06-16 23:08] #158 closed

[2022-06-17 09:28] onein528 commented on #177
@DeveloperWOW64 @BobbyESP

[2022-06-18 08:33] onein528 opened #184 "Back/Forward navigation does not work properly"
### Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### What version of Windows is this issue present?

Windows 11

### What version/architecture of FluentHub are you on?

0.3.0

### Description

As the title.
It appears that the navigation history is not properly stored in the stack whe

[2022-06-18 08:34] onein528 commented on #184
@luandersonn Hi. How have you been?

[2022-06-19 04:03] onein528 commented on #166
Unigram might help us

[2022-06-19 05:59] DeveloperWOW64 commented on #166
How? It's just a telegram client.

[2022-06-19 06:14] onein528 commented on #166
yea. but unigram created with UWP and uses toat messaging.

[2022-06-19 08:45] DeveloperWOW64 commented on #166
If we used the GQL the user would need ghostly installed i think

[2022-06-19 14:21] luandersonn commented on #184
@onein528 In my tests it is working correctly.

[2022-06-19 14:35] onein528 commented on #184
No way...

[2022-06-19 17:43] DeveloperWOW64 opened #186 "Improve security of the authorization phase"
### Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### What version of Windows is this issue present?

Windows 11

### What version/architecture of FluentHub are you on?

DEBUG x64

### Description

I have an interesting theory:
Why don't we use the GH developer app for FH like we have

[2022-06-19 17:44] DeveloperWOW64 commented on #186
@onein528 what do you think?

[2022-06-19 22:41] onein528 commented on #186
What's the GitHub Developer App? Are you going to say "GitHub Apps"?

[2022-06-20 06:22] DeveloperWOW64 commented on #186
yes

[2022-06-20 15:55] DeveloperWOW64 commented on #186
I'll just test on a new PR with head branch GU12

[2022-06-20 22:21] onein528 commented on #186
in this org, named "FluentHub-Credentials" repo.

[2022-06-20 22:22] onein528 commented on #186
I am now in school.

[2022-06-21 07:57] ghost opened #188 "Feature: Add edit code with VSCode button to repository code page"
### Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### Description

Simplest idea: integrate a magnet button to open system default `text-editor` (_Visual Studio Code, Atom, Sublime Text_, etc etc).

### Alternative solutions

In addition to that, we could integrate [`vscode.dev`](https://vscode.dev) inside a `chromium` instance so final user c

[2022-06-21 08:07] onein528 commented on #188
Want to add "Edit in FluentHub" like vscode.dev in your browser and create something similar to text editor into FluentHub?

[2022-06-21 08:12] onein528 commented on #188
If so, it's a good idea. but the goal up to version v0.5 is to make all queries work correctly and with as few bugs as possible. The goal up to v0.9 is to make all mutations work correctly and with as few bugs as possible. We will also do a final check to migrate all Alpha phase features to Stable by v1.

[2022-06-21 09:15] dovatti commented on #188
I was talking about adding an integrated instance of [`vscode.dev`](https://vscode.dev) inside FluentHub.
If you wants, I could develop it, pull a request and wait until v0.5. Meanwhile waiting I could help on bug fixes.

[2022-06-21 10:48] onein528 commented on #188
Just don't modify GitHub data? I don't know what “integrated instance” was.

[2022-06-21 11:06] dovatti commented on #188
I think you should read [`this`](https://github.com/github/dev), it is ofc more specific than me.
For `integrated instance` I mean I would like to have a page like [`vscode.dev`](vscode.dev) inside FluentHub.
I think we're talking about the same thing but with different synonyms. 😁

[2022-06-21 11:09] onein528 commented on #188
Ah, when clicking the edit button, the app opens WebView2 windows with vscode.dev?

[2022-06-21 11:35] dovatti commented on #188
Yep.

[2022-06-21 12:42] onein528 commented on #188
Got it. It is a good idea! if you can open a PR, please do.

you think it is like this, right?

![image](https://user-images.githubusercontent.com/62196528/174801686-a1184c82-829e-4a7c-84bf-387c771289f3.png)

[2022-06-21 13:47] dovatti commented on #188
Exactly! If is okay for you, I'll work on it soon!

[2022-06-23 13:01] onein528 opened #189 "Implementation of IncrementalLoading"
### Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### Description

As the title

### Alternative solutions

_No response_

### Relevant Assets

_No response_

[2022-06-25 17:46] DeveloperWOW64 commented on #189
@onein528 What is IncrementalLoading?

[2022-06-26 02:34] onein528 commented on #189
When scrolled to the end, request more items. Don't need to get all data. By doing so, I can get each 100 or sth items.

[2022-06-28 10:31] #177 closed

[2022-06-28 10:32] onein528 commented on #122
On going feature. no end.

[2022-06-28 10:32] #122 closed

[2022-06-28 10:36] onein528 commented on #186
@DeveloperWOW64 Can you try this?

Just checking. You wanna use GitHub Apps not OAuth? and it can be useful?

[2022-06-28 16:31] DeveloperWOW64 commented on #122
@onein528 WDYM?

[2022-06-28 16:32] DeveloperWOW64 commented on #177
In GU12?

[2022-06-29 07:07] onein528 commented on #177
ah not complete, but not planned.

[2022-06-29 07:08] onein528 commented on #186
But do not create GU13 until been merged GU12 not to make conflicts please.

[2022-06-29 07:09] DeveloperWOW64 commented on #186
okay.

[2022-06-29 07:10] onein528 commented on #122
I created handling methods so completed feature

[2022-06-29 07:11] DeveloperWOW64 commented on #122
In GU12?

[2022-06-29 07:56] onein528 commented on #122
No, in GU11. please take a look at OnNavigatedTo in DetailsLayoutModePage.xaml.cs

[2022-06-29 07:57] onein528 commented on #122
parsing URL.

[2022-07-02 11:40] onein528 commented on #184
@luandersonn DO contribute something. You are same as code owner of FH navigation system and please maintain and adapt.

When navigating a sub frame, cannot back/forward by using back/forward buttons (repo code -> issues oage -> back to repo code page using back button does not work properly).

[2022-07-03 05:49] DeveloperWOW64 opened #192 "test"

[2022-07-03 05:49] #192 closed

[2022-07-03 08:18] DeveloperWOW64 commented on #189
When do you plan to implement this? @onein528

[2022-07-03 08:31] DeveloperWOW64 commented on #188
Wait just to make things clear.. @onein528 you want to add WebView2 with [`github.dev`](https://github.dev) page to FH?

[2022-07-03 08:36] onein528 commented on #188
No this feature request is not like that.
just open github.dev with browser.

[2022-07-03 08:37] DeveloperWOW64 commented on #188
oh. Can't we use WebView? @onein528

[2022-07-03 08:37] onein528 commented on #189
Yes. wait a week.

[2022-07-03 08:38] DeveloperWOW64 commented on #189
ahh of exams, i get it

[2022-07-03 08:38] onein528 commented on #188
can use. but he not meant to. @dovatti How about?

[2022-07-03 18:46] dovatti commented on #188
Not yet. I think this will take some time to start working on if alone. @DeveloperWOW64 if you would like to implement that would be great, I would help in my free time. I do work every day so I do not have too much spare time.

[2022-07-05 17:49] luandersonn commented on #184
Okay, I'll check

[2022-07-10 06:11] onein528 opened #195 "Add model generator for FluentHub.Octokit"
### ⏱️ Before you start...

- [X] Have you checked if a similar tracker has already been reported?

### 🛤️ Feature

As "Octokit.GraphQL.NET" is a non-maintained project, we have to take multiple actions.

- [x] Fork it into this organization
- [ ] Add its fork to this as a submodule(by doing so, don't have to use its official package and we can maintain with our hands when we wanna maintain).
- [

[2022-07-10 06:16] DeveloperWOW64 commented on #195
ooooooooo!

[2022-07-10 06:18] DeveloperWOW64 commented on #195
WDYM schema gen?

[2022-07-10 09:06] onein528 commented on #195
See [Models](https://github.com/FluentHub/FluentHub/tree/main/src/FluentHub.Octokit/Models) which I create manually.

This folder is for the [GraphQL schema](https://docs.github.com/en/graphql/overview/public-schema).

[2022-07-12 06:37] DeveloperWOW64 opened #198 "[Internal] Test for issue template"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

test

### 🗃️ Alternative solutions

_No response_

### 📸 Assets

_No response_

[2022-07-12 06:37] #198 closed

[2022-07-12 06:43] onein528 commented on #198
@DeveloperWOW64 why did you create this?

[2022-07-12 06:44] DeveloperWOW64 commented on #198
Ahh.. needed to test what the Markdown looked like for the issue template.. nvm

[2022-07-15 13:05] #195 closed

[2022-07-19 05:32] dovatti commented on #188
@onein528 @DeveloperWOW64 I've got some news: I've been coding according to [these guide](https://docs.microsoft.com/en-us/microsoft-edge/webview2/get-started/winui) and essentially got code working.
Currently **could** be possible to get an "Open in VSCode.dev" button and open the web page inside FluentHub. But I was thinking: does exist an "official" pattern/model to achieve that? I think more t

[2022-07-21 15:33] #186 closed

[2022-07-21 15:33] #189 closed

[2022-07-23 14:03] onein528 commented on #184
### The Fact

Currently, the main frame displays the repository's overview page and its subframes display issues, PR, and other pages.

### What's problem?

When a URL is passed, the page is navigated, but it is not stored correctly on the stack. This is because frame information is only saved when navigationservice.navigate is used.

### New idea

Overview on above will be added as user control e

[2022-07-23 14:09] onein528 opened #207 "New styling of repository overview"
### ⏱️ Before you start...

- [X] Have you checked if a similar tracker has already been reported?

### 🛤️ Feature

### The Fact

Currently, the main frame displays the repository's overview page and its subframes display issues, PR, and other pages.

### What's problem?

When a URL is passed, the page is navigated, but it is not stored correctly on the stack. This is because frame information is

[2022-07-23 14:24] onein528 commented on #207
@DeveloperWOW64 @luandersonn @BobbyESP If anyone think this is nice, I will implement.

[2022-07-26 09:31] hunterlan opened #210 "An exception from LoadActivitiesAsync() occur in loading user home page in the Store released app"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11

### 🔢 What version/architecture of FluentHub are you on?

0.3.30.0 | X64 | RELEASE

### 📄 Description

Program crashes on opening page "Home".

Also, if you straight a

[2022-07-26 09:52] onein528 commented on #210
I want to let you know: publishing the app to the Store is the first time I've solved Linq, which has been the biggest problem in our community for a long time.

What all I need is log, please open `C:\Users\[USERNAME]\AppData\Local\Packages\FluentHubDev_9es9q7t8fr9b8\LocalState\FluentHub.Logs` and please show me.

[2022-07-26 10:04] hunterlan commented on #210
[Log20220726.log](https://github.com/FluentHub/FluentHub/files/9188766/Log20220726.log)
@onein528 here it is. I understand that developing is difficult as a programmer. Maybe, may I help to develop program?

[2022-07-26 10:50] onein528 commented on #210
I did see the log. According to it, you seem to click "See feeds" on Home page, right?

Definitely of course! that's a greate honor!

[2022-07-26 12:31] hunterlan commented on #210
No, I just launched program, and then it crashes. But, maybe it logged situation, when I was in time and click to "Profile", and then, click other pages. Wanted to see what implemented 😅

[2022-07-26 12:34] onein528 commented on #210
[code]

When launched the app, `LoadActivitiesAsync` should not be called actually. Had you clicked "activities" button on the sidenavigation really?

[2022-07-26 12:54] hunterlan commented on #210
No, I didn't. I can send you a video

[2022-07-26 12:55] onein528 commented on #210
Looking forward to see that.

[2022-07-26 13:03] hunterlan commented on #210
https://user-images.githubusercontent.com/38838841/181012498-2d95e117-0720-4489-858c-fd11508c9f00.mp4

[2022-07-26 13:11] onein528 commented on #210
Weird. Could not possible. but I know activities page has bugs and have to fix it immediately. Thank you for reporting this. I'll work on this.

By the way, you can build this project?

[2022-07-26 13:17] hunterlan commented on #210
Doing this right now.

[2022-07-26 13:32] hedhehd commented on #210
That's exactly what's happening to me in microsoft store version..

[2022-07-26 13:35] hunterlan commented on #210
Agree with you, because I've built it, and it works normally (if I won't mention "Activity" of course 😅)

[2022-07-27 13:53] NoobNotFound opened #212 "The value passed to Single was null"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Dev

### 🔢 What version/architecture of FluentHub are you on?

0.3.30.0 | X64 | RELEASE

### 📄 Description

I just went to my repository named Noobsenger and this happe

[2022-07-27 14:05] onein528 commented on #212
it happens in GetWithObjectNameAsync() and there's one Single() using:

![image](https://user-images.githubusercontent.com/62196528/181267404-c422df85-a7f6-45e8-8135-3c312c79442f.png)

Deleted user? maybe. I will convert to SingleOrDefault()

[2022-07-27 18:18] hunterlan opened #213 "Add contribution graph to user overview page"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

Every user, who has a little activity on GitHub, has this thing.

### 🗃️ Alternative solutions

_No response_

### 📸 Assets

![image](https://user-images.githubusercontent.com/38838841/181272764-b2685b6c-75b2-488c-91dd-43a174786814.png)

[2022-07-27 18:32] onein528 commented on #213
Actually the app had this feature, but currently disabled and it will be enabled soon.

![image](https://user-images.githubusercontent.com/62196528/181346431-c9e67634-2a6d-4532-ab76-16d2d56488c7.png)

[2022-07-28 06:57] hunterlan commented on #213
Oh, didn't know about it, sorry :D But you can use this issue, when it will be enabled

[2022-07-28 07:12] hunterlan opened #215 "Implement editing basic user information"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

Now, you can click and see the window, like on picture 1, but you can't close it and also you can't see, what fields are filled already.
Should be implemented like on picture 2

### 🗃️ Alternative solutions

1. Get user info, and show information in fields
2. Add scroll ba

[2022-07-28 07:31] onein528 commented on #215
Thank you for requesting new features! If you don't mind requesting ideas other than those existing GitHub features, please do.

[2022-07-28 07:33] hunterlan commented on #215
I will. And if I can, I will implement these ideas :)

[2022-07-28 07:44] onein528 commented on #215
Ye, please!

[2022-07-28 10:14] hunterlan opened #217 "Implement repository settings page"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

It has a page, but hasn't functionality.

### 🗃️ Alternative solutions

_No response_

### 📸 Assets

![image](https://user-images.githubusercontent.com/38838841/181481472-b4c765f7-64d0-406a-883c-5456c8f27743.png)
Picture 1 - current settings
![image](https://user-images.gi

[2022-07-29 13:48] maicol07 opened #218 "App downloaded from the Store will fail with `0xc000027b`"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Dev

### 🔢 What version/architecture of FluentHub are you on?

0.3.3

I can't copy-paste because the app crashes on start

### 📄 Description

App crashes on start with

[2022-07-29 14:37] onein528 commented on #218
it seems that this problem is not caused by our app but caused by Microsoft Store.

Just in case, please paste log which you can get from
 `C:\Users\USERNAME\AppData\Local\Packages\FluentHubDev_9es9q7t8fr9b8\LocalState\FluentHub.Logs`

[2022-07-29 15:01] maicol07 commented on #218
Here you go (the first line refers to an error when the app worked once in a repo):

[code]

[2022-07-29 15:15] onein528 commented on #218
Okay. the app write exception to log file only when exception occurred in querying API. So nothing to do with the app.

Maybe, right.

[2022-07-29 15:16] onein528 commented on #218
You can run Store App Troubleshooting for fixing.

[2022-07-29 15:26] #218 closed

[2022-07-29 15:28] onein528 commented on #218
Still eyes on this issue. so if you have any further question or progress, let me know.

Thank you for reporting this issue! this would help improve this community❤️

[2022-07-29 16:04] HelderRocket opened #219 "Help for translating"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

I would like to help translating this application in my native language (in this case, Spanish), Is there any way I can help with that?

PS: I commented about your project on the official "UWP Community" channel, I would advise to check that further.
![image](https://user-

[2022-07-29 16:15] onein528 commented on #219
I'm preparing to translate with Crowdin but there'is no resources. it will take much time to add defaul strings.

https://crowdin.com/project/fluenthub

[2022-07-29 16:28] senolfndk commented on #219
can you add turkish language

[2022-07-29 23:27] maicol07 commented on #218
Ok, so I've tried running the troubleshooter but didn't work. I've got the same result on another device.
I've also tried to install the app from the sideload zip in releases and I got the same issue. LocalState is empty.

[2022-07-30 06:46] onein528 commented on #218
Can you try to build this project? Maybe the result will be different.

[2022-07-30 10:08] #184 closed

[2022-07-30 10:08] #207 closed

[2022-07-31 10:30] onein528 commented on #218
@maicol07

[2022-08-01 08:44] maicol07 commented on #218
It works building it manually with VS

[2022-08-02 08:22] hunterlan commented on #219
I can work with this issue. I've never worked with crowdin, but I have an experience with internalisation.

[2022-08-02 09:45] hedhehd commented on #219
I can speak turkish and german pretty good. But I don't know how to add a language in windows apps.

[2022-08-05 09:21] onein528 commented on #219
Hi, all!

I added popular languages. Please check [it](https://crowdin.com/project/fluenthub) out!!

[2022-08-05 14:42] senolfndk commented on #219
thank you for the turkish language

[2022-08-07 21:17] DeveloperWOW64 commented on #219
@HelderRocket Once translation resources are possible. A member of our team (@BobbyESP) is native Galician and so will help us, however, as is usual with any regular open-source software, you can contribute as much as you like.
PS: I can actually understand Spanish too! But I'm not native like you are so it's pretty bad...

[2022-08-07 22:27] HelderRocket commented on #219
@DeveloperWOW64 It's a bit confusing, but it seems (from what I understand from Wikipedia, that Galician is not Spanish, or not exactly (maybe it's like Latin Spanish and Sword Spanish, in other words, a lot of confusion even among us). 😅😅😅

[2022-08-07 22:30] HelderRocket commented on #219
@DeveloperWOW64 If you like, you can add the two types of Spanish (ignoring of course the sub-varieties of Latin Spanish) and let the @BobbyESP  take care of the Spanish one, since I speak Latin Spanish, and if there is a big difference in both.

[2022-08-08 16:20] DeveloperWOW64 opened #224 "FluentHub Identity"
### ⏱️ Before you start...

- [X] Have you checked if a similar tracker has already been reported?

### 🛤️ Feature

 - [x] App Name
 - [x] App Description
 - [x] App Versions
 - [x] Legal Identity
 - [x] Social Media
###### TBC

### 📄 Description

There are parts of FluentHub's identity that need to be clarified and decided. See the list above.

### 📸 Assets

_No response_

[2022-08-09 19:53] DeveloperWOW64 commented on #224
@onein528 We also need to think about FluentHub's description. There are multiple across different sites, so it's difficult to keep track of them:
Website: A stylish yet wonderfully powerful GitHub Oauth client
GitHub: A fluent yet powerful GitHub Oauth client app for Windows
GitHub Organisation: Making the best GitHub client for windows
My idea (also Twitter): A stylish yet powerful GitHub client

[2022-08-10 02:02] onein528 commented on #224
Your idea.

[2022-08-10 06:36] DeveloperWOW64 commented on #224
Now we need to discuss app versions. I don't think we need to have all channels:
Stable, Beta, Dev, Can so can we limit it to 2 or so. e.g. Stable & Beta. We could do more, but it would be harder to keep track of and update. I think we should do Stable and Dev. @onein528

[2022-08-10 06:40] onein528 commented on #224
I have light green. So I ask creator if can he change color to beta coloring - blue.

[2022-08-10 06:43] DeveloperWOW64 commented on #224
What do you mean?

[2022-08-10 06:52] onein528 commented on #224
Dev icon have a green label. But I don't like a logo with green coloring. So I'd like to change green I blue.

[2022-08-10 07:02] onein528 commented on #224
What do you mean by Legal identity?

[2022-08-10 08:05] DeveloperWOW64 commented on #224
@onein528 What is the name of the FluentHub group?
(c) FluentHub/ FluentHub Team etc.

[2022-08-10 08:10] onein528 commented on #224
Ah,

(c) 2022 FluentHub
(c) 2022 FluentHub Team
(c) 2022 FluentHub Community

I don't know it's a good idea to add year.

[2022-08-10 08:13] DeveloperWOW64 commented on #224
Yes @onein528 You should add year. But when it comes to later years e.g. 2023 It will need to be 2022-2023.
But which one do you think? the org nickname is now FluentHub Application Community so we could use that. Personally I think either
a) FluentHub Community
b) FluentHub Team

[2022-08-10 09:24] DeveloperWOW64 commented on #224
@onein528

[2022-08-10 09:25] onein528 commented on #224
FluentHub Team, maybe.

[2022-08-10 09:39] DeveloperWOW64 commented on #224
GU16?

[2022-08-10 09:40] onein528 commented on #224
what do you mean?

[2022-08-10 09:41] DeveloperWOW64 commented on #224
Create it

[2022-08-10 10:56] DeveloperWOW64 commented on #224
So you'd like to keep only Stable and Dev? or all? What versions do you want to keep?

[2022-08-10 11:45] DeveloperWOW64 commented on #224
lol
![image](https://user-images.githubusercontent.com/71598437/183893215-5c7ec7c9-8ac4-4903-9591-8d3970d583d9.png)

[2022-08-10 11:45] DeveloperWOW64 commented on #224
@onein528

[2022-08-10 11:45] onein528 commented on #224
yea currently working on issue event items. so need various events.

[2022-08-10 11:46] onein528 commented on #224
IDK... stable or dev / stable or beta would be great

[2022-08-10 11:47] DeveloperWOW64 commented on #224
Stable and dev then

[2022-08-10 11:48] onein528 commented on #224
but do you like green?

![image](https://user-images.githubusercontent.com/62196528/183893629-5d01c895-2c42-4f3d-a8e4-691411a058f9.png)

[2022-08-10 11:49] DeveloperWOW64 commented on #224
yes.

[2022-08-10 11:49] onein528 commented on #224
then, go ahead.

[2022-08-10 11:57] onein528 opened #229 "App icon is not displayed in the title grid and intro page"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11, Windows 11 Dev

### 🔢 What version/architecture of FluentHub are you on?

0.3.5 | RELEASE

### 📄 Description

As the title.
Should be fixed in GU17.

### 🪜 Steps To Re

[2022-08-10 22:26] onein528 commented on #224
I wanna change...

I told you I wanna use dev/stable for now before, but it seems that dev/beta is better, I suppose. And when v1 use dev/stable. How do you say?

[2022-08-10 22:27] onein528 commented on #224
@DeveloperWOW64

[2022-08-11 06:08] DeveloperWOW64 commented on #224
As in dev/beta/stable? Well, why? It looks nice on paper, but I don't think it'll work in practice. We'll need to implement many different things. There is a way we could do it:
3 branches:
stable (main): updated every new release
beta: beta channel
dev: dev channel
Fresh GUs will be uploaded to dev and so will other updates. after at least one gu in dev, dev will merge with beta. After beta has 5

[2022-08-11 06:51] onein528 commented on #224
No. Just bed/beta for now. And when achieved to v1, use dev/stable. That's my concept.

[2022-08-11 06:53] DeveloperWOW64 commented on #224
yes that's what i thought as well.. Good.

[2022-08-12 10:42] DeveloperWOW64 commented on #229
@onein528 I've had this issue before.

[2022-08-12 10:52] onein528 commented on #229
I may have to use muxc:ImageIcon.

[2022-08-12 11:27] DeveloperWOW64 opened #231 "Co-authored PRs don't show as co-authored"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11

### 🔢 What version/architecture of FluentHub are you on?

0.3.5.0 | X64 | DEBUG
GU16

### 📄 Description

As the title
This may be impossible due to the fact that it ca

[2022-08-14 13:17] #224 closed

[2022-08-14 13:27] onein528 opened #233 "Create an attribution for icons"
We have icons that have attribution. So we may need to add third party notice.

[2022-08-14 13:59] onein528 commented on #231
Query has Authors. So I can implement it, but not a high priority.

[2022-08-15 16:32] DeveloperWOW64 commented on #233
@onein528 Maybe we could add the notice to the **💳 Credit** section. What do you think?

[2022-08-16 08:25] DeveloperWOW64 commented on #233
@onein528

[2022-08-16 08:28] onein528 commented on #233
Good.

[2022-08-22 15:03] onein528 opened #236 "Add primer control AvatarStack and AvatarPair"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

- Related #231

**primer react `AvatarPair` https://primer.style/react/AvatarPair**

![image](https://user-images.githubusercontent.com/62196528/185953648-f4b9da11-2081-4f2f-9ee3-82402985a190.png)

**primer react `AvatarStack` https://primer.style/react/AvatarStack**

![im

[2022-08-22 15:08] onein528 commented on #174
This should be fixed already.

Alternative solution

- Use WebView2 for stability
- Use MarkdownTextBlock
- Use RichTextBlock with ourown GMF parser

All of them are withdrawn.

[2022-08-22 15:08] #174 closed

[2022-08-22 15:09] onein528 commented on #210
This issue have been fixed already.

[2022-08-22 15:09] #210 closed

[2022-08-22 17:58] DeveloperWOW64 commented on #233
🤦
![image](https://user-images.githubusercontent.com/71598437/185987771-6250d760-3a7c-4bfa-9178-d050a21c968e.png)

[2022-08-25 10:44] onein528 commented on #236
Do you know slide animation or something like that? I'd like to implement animation: when I hover over the control, control be spread over the horizon. You can see this animation participants avatar pair control in GitHub notification page

[2022-08-25 11:06] DeveloperWOW64 commented on #236
Ok.

[2022-08-25 11:07] DeveloperWOW64 commented on #236
@onein528 This:
https://docs.microsoft.com/en-gb/windows/windows-app-sdk/api/winrt/microsoft.ui.xaml.media.animation.easingfunctionbase?view=windows-app-sdk-1.1

[2022-08-25 11:25] onein528 commented on #236
Thanks. I will learn about it.

[2022-08-26 10:36] onein528 commented on #219
@DeveloperWOW64 We have to get started to adding new l10n resources. You have any acknowledge about it: you can addresiurces and make FluentHub be localizable?

[2022-08-26 10:38] onein528 commented on #213
@hunterlan I fix this issue pre v0.3.7

[2022-08-26 13:26] DeveloperWOW64 commented on #219
You mean you want to make the resources usable? @onein528

[2022-08-26 13:28] onein528 commented on #219
Yep.

If there is localizable text block, I'd like you to add its resource and replace them to it. I will tell you first step by pushing new commit to main. just wait a hour

[2022-08-26 14:06] DeveloperWOW64 commented on #219
lool @onein528 ~~it probably made more sense when you said 'wait an hour'~~
but honestly no pressure, take your time mate.

[2022-08-26 14:23] onein528 commented on #219
Sorry. I immediately will do.

[2022-08-26 15:19] onein528 commented on #219
Done. I'm building now.

[2022-08-26 18:04] DeveloperWOW64 commented on #219
Sorry I don't have enough time to do that today.. I will tomorrow.

[2022-08-26 21:47] hunterlan commented on #213
You mean when you will release v0.3.7?

[2022-08-26 23:21] onein528 commented on #213
Yes

[2022-08-29 07:17] onein528 opened #242 "Add user's popular repos and make repos pinnable"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

![image](https://user-images.githubusercontent.com/62196528/187145242-eb186de3-7028-48d4-beea-516a04443b6b.png)

### 🗃️ Alternative solutions

_None. Just implement_

### 📸 Assets

_No response_

[2022-08-29 07:19] DeveloperWOW64 commented on #242
@onein528 This is a mutation, though.

[2022-08-29 07:24] onein528 commented on #242
Right. How about implementing them in parallel? I said Mution will be get started v0.5 but I think newly we have to make what we have to implement on the page perfectly. When FluentHub become v0.4, I will be busy testing the safety of 'Query', and feel like i can't go v0.5 forever.

[2022-08-29 07:28] DeveloperWOW64 commented on #242
Okay. Sure!

[2022-08-30 12:34] DeveloperWOW64 commented on #166
Hmmmmmmmmm

[2022-08-31 11:06] onein528 commented on #166
WASDK might enable us to implemet push notification feature. If we set up our FluentHub website, could we also set up web hooking?

[2022-08-31 11:29] DeveloperWOW64 commented on #166
Perhaps. I'm not a push-notification expert, but it should be possible. Feel free to use https://codrex.dev / related subdomains for push notifications, i don't mind. @onein528

[2022-08-31 11:37] onein528 commented on #166
I appreciate for it.

[2022-09-01 06:49] onein528 opened #246 "Number normalizer"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

We might need count normalizer. If number is 40000 (as Star count), need to be 40k.

For example NuGet:

- DataSizeUnits

### 🗃️ Alternative solutions

No. Just add.

### 📸 Assets

_No response_

[2022-09-01 11:30] DeveloperWOW64 commented on #246
Ok. This shouldn't be *too* complex.

[2022-09-01 11:31] onein528 commented on #246
Yes. We shouldn't create it as a healer. Just should add as a library.

[2022-09-01 11:32] onein528 commented on #246
FluentHub should have an option of switching if you use normalized number or unnormanized number.

[2022-09-01 11:34] DeveloperWOW64 commented on #246
@onein528 I'd say that's a bad idea. We'd have to worry even *more* than we already do on locale resources about text fitting if we gave an option that supported unnormalised number counts.

[2022-09-01 11:36] onein528 commented on #246
Wow that's way right. Thank you.

[2022-09-01 11:48] DeveloperWOW64 commented on #213
@onein528 Isn't this fixed in 98de5119a0ab4e9e39fb429dcf07ce3f385070e8?

[2022-09-01 11:59] onein528 commented on #213
Oh yeah. Thanks

[2022-09-01 11:59] #213 closed

[2022-09-01 13:32] Lamparter opened #247 "Replace EmojiIcons with web URLs"
### 🛤️ Feature

Replaces EmojiIcons with web URLs.

### 📄 Description

The app already depends on the internet to make queries so why not rely on the internet to get the icons anyway?

### 📸 Assets

_No response_

[2022-09-01 13:33] Lamparter opened #248 "Feature: Add page content caching service"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

Implement cache so if the user has no internet, FluentHub doesn't break immediately.

### 🗃️ Alternative solutions

None.

### 📸 Assets

None

[2022-09-01 13:58] onein528 commented on #247
Should not be more depend on web. If there's no internet, App just seems to be dead screen.

[2022-09-01 17:11] hunterlan opened #249 "Empty space above notification on home page"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11

### 🔢 What version/architecture of FluentHub are you on?

The last commit of main branch (01.09.2022) :D

### 📄 Description

On the screenshot below, you can see that

[2022-09-01 17:23] DeveloperWOW64 commented on #249
@hunterlan What branch are you building from?

[2022-09-01 17:26] hunterlan commented on #249
I have a forked repo, which is syncing with main branch

[2022-09-01 17:28] DeveloperWOW64 commented on #249
@hunterlan Can you send a picture of the entire app window?

[2022-09-01 17:40] DeveloperWOW64 commented on #249
Ahh. This is a localisation error.

[2022-09-01 17:40] DeveloperWOW64 commented on #249
@hunterlan Use branch `localise`.

[2022-09-01 17:42] hunterlan commented on #249
Why?

[2022-09-01 17:43] DeveloperWOW64 commented on #249
Because that fixes the error.

[2022-09-01 17:44] hunterlan commented on #249
Oh, ok
But ```localise``` branch will not be always actual, right?

[2022-09-01 17:44] DeveloperWOW64 commented on #249
UserHomePage.xaml is relying on locale resources that don't exist in the `main` branch. However, those resources are implemented in #244, or `localise`.

[2022-09-01 17:45] DeveloperWOW64 commented on #249
Of course. Once all of FluentHub is successfully localised, we'll merge the PR and then you can use `main` correctly. For now, use `localise`.

[2022-09-01 17:46] hunterlan commented on #249
Got it. So, we will not have a merge conflicts, when I will create PR

[2022-09-01 17:47] DeveloperWOW64 commented on #249
You can create it now if you like, #244 will take some time. @hunterlan

[2022-09-01 17:53] DeveloperWOW64 commented on #249
You can create a PR anytime! Don't worry about merge conflicts. @hunterlan

[2022-09-01 18:17] #246 closed

[2022-09-01 22:40] onein528 commented on #248
I'm not sure we should use cache. Cache is for not getting extra data. But shouldn't do like that due to it's characteristics of Octokit.GrapgQL.NET

[2022-09-02 07:15] DeveloperWOW64 commented on #166
👀
![image](https://user-images.githubusercontent.com/71598437/188080175-2c0750c9-cfaa-47a3-bda9-3d890bb12f80.png)

[2022-09-02 07:29] hunterlan commented on #212
@onein528 the commit af209cb4 fixed this issue, right?

[2022-09-02 07:52] #212 closed

[2022-09-04 07:08] #249 closed

[2022-09-04 15:01] Lamparter opened #253 "v1.0 shipping progress"
# Post v1.0

## WASDK Migration

- [x] https://github.com/FluentHub/FluentHub/labels/breaking%20change #316

## User pages

- Implement user package page
- Implement user projects page
- Implement editing user profile dialog
- Implement editing basic user information
- Add user's popular repos and make repos pinnable
- Improve user experience of user contribution graph
 feature request This issue

[2022-09-04 17:50] DeveloperWOW64 commented on #253
I saw documentation about a CLI called the .NET Update Assistant that might be able to automate the process. 👀

[2022-09-06 22:45] onein528 commented on #247
What? Please comment.

[2022-09-07 06:16] DeveloperWOW64 commented on #247
What on earth are you talking about? Ahh you mean #251?

[2022-09-07 08:47] onein528 commented on #247
This.

[2022-09-07 14:58] DeveloperWOW64 commented on #247
@onein528 I would like to develop on this issue.

[2022-09-11 10:15] M7MDE7EGAZY opened #255 "NullReferenceException in UserHomePage"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Beta

### 🔢 What version/architecture of FluentHub are you on?

0.3.7 Release

### 📄 Description

I face the error of "object reference is not set to an instance of an

[2022-09-11 10:19] onein528 commented on #255
Please click "see stack trace" and paste them on this issue page.

[2022-09-11 11:48] DeveloperWOW64 commented on #253
@onein528 Should we start on this now?

[2022-09-11 12:21] onein528 commented on #253
Yep. Really exciting.

[2022-09-12 03:57] arihant2math commented on #255
I have the same issue, I have uploaded the log: [Log20220911.log](https://github.com/FluentHub/FluentHub/files/9544435/Log20220911.log)

**Stack trace**
   at System.Collections.Generic.List`1.get_Item(Int32) + 0x37
   at System.Linq.Enumerable.ElementAt[TSource](IEnumerable`1, Int32) + 0xb2
   at FluentHub.Octokit.Queries.Users.NotificationQueries.Map(List`1, IReadOnlyList`1) + 0x1c5
   at Fluent

[2022-09-12 03:58] arihant2math commented on #255
This also happens on the notifications page.

[2022-09-12 04:08] arihant2math opened #256 "The about page doesn't work"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Beta

### 🔢 What version/architecture of FluentHub are you on?

The about page doesn't work ...
v0.3.7

### 📄 Description

I cannot open the about page, it is shown as

[2022-09-12 06:37] DeveloperWOW64 commented on #255
Hmmm..

[2022-09-12 08:32] onein528 commented on #255
Then, this issue is notification querying error.

[2022-09-12 18:09] arihant2math commented on #255
Its coming from the loop on line 115 at Octokit.Queries.Users.NotificationQueries

[2022-09-12 21:59] #255 closed

[2022-09-13 07:10] onein528 commented on #166
This lib is for toast notification

[2022-09-13 17:03] arihant2math opened #260 "Bug: Opening repos with a large amount of files and dirs causes the app to crash"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Beta

### 🔢 What version/architecture of FluentHub are you on?

0acd4f702e4e75b237fbb0201d786c8d313add3c x64

### 📄 Description

Opening repos sometimes causes the app

[2022-09-13 17:08] arihant2math commented on #260
Found the root cause, submitting a pr soon.

[2022-09-13 18:54] arihant2math commented on #260
#255 has reemerged for some reason ...

[2022-09-13 20:45] arihant2math commented on #260
I am unable to fix the issue, it seems to originate from the async await methods not fully completing.

[2022-09-14 04:55] KK-Designs opened #263 "Navigation does not work"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11

### 🔢 What version/architecture of FluentHub are you on?

None of the navigation systems works; I click on a button, for example, Notifications, and nothing happens. S

[2022-09-14 07:09] DeveloperWOW64 commented on #263
Duplicate of #256

[2022-09-14 07:09] #263 closed

[2022-09-14 10:25] onein528 commented on #263
@KK-Designs hi. This app is under construction. Some of function is doesn't work and not implemented.

[2022-09-14 23:08] arihant2math opened #264 "Implement search functionality"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

The search functionality in GitHub is probably going to be more used in fluent hub because people don't have google to search for projects on. I am implementing this with the [Octokit.net API](https://octokitnet.readthedocs.io/en/latest/search/). I will adhere to the GitHu

[2022-09-15 00:49] KK-Designs commented on #263
Wondering why this issue was closed "this as not panned" but I see hopefully it get fixed up.

[2022-09-15 05:22] onein528 commented on #263
This is not originally navigation issue.

[2022-09-15 08:02] onein528 commented on #264
As you told, this feature is very important for FluentHub. So we need to discuss the matter about how we implement it.

[2022-09-15 12:15] onein528 opened #265 "Implement user package page"

[2022-09-15 12:15] 0x5bfa opened #266 "Implement user projects page"

[2022-09-15 12:15] onein528 opened #267 "Implement editing user profile dialog"

[2022-09-15 12:15] onein528 opened #268 "Improve user experience of user contribution graph"

[2022-09-15 12:15] onein528 opened #269 "Implement user contribution details page"

[2022-09-15 12:15] onein528 opened #270 "Implement filtering feature generally"

[2022-09-15 12:15] onein528 opened #271 "Implement adding/removing a repository as star"

[2022-09-15 12:15] onein528 opened #272 "Implement displaying status context"

[2022-09-15 12:15] onein528 opened #273 "Implement changing status context"

[2022-09-15 12:33] onein528 opened #274 "Fix the number of branches and tags to be displayed"

[2022-09-15 12:33] onein528 opened #275 "Implement the ability to create a branch"

[2022-09-15 12:34] onein528 opened #276 "Implement a function that allows you to navigate from repo page to VSCode"

[2022-09-15 12:34] onein528 opened #277 "Develop repository release page"

[2022-09-15 12:34] onein528 opened #278 "Implement the ability to edit repository details"

[2022-09-15 12:34] onein528 opened #279 "Update repository Discussion page"

[2022-09-15 12:34] onein528 opened #280 "Update repository Project page"

[2022-09-15 12:34] onein528 opened #281 "Implement repository Actions page"

[2022-09-15 12:34] onein528 opened #282 "Implement repository pulse page"

[2022-09-15 12:34] onein528 opened #283 "Implement repository contributors page"

[2022-09-15 12:34] onein528 opened #284 "Implememt repository traffic page"

[2022-09-15 12:34] onein528 opened #285 "Implement repository commits page"

[2022-09-15 12:34] onein528 opened #286 "Implement repository code change frequency page"

[2022-09-15 12:34] onein528 opened #287 "Fix repository settings page"

[2022-09-15 12:34] onein528 opened #288 "Implement the ability to display organization README from .github or .github-private"

[2022-09-15 12:34] onein528 opened #289 "Implement organization Discussions page"

[2022-09-15 12:34] onein528 opened #290 "Implement organization Projects page"

[2022-09-15 12:34] onein528 opened #291 "Implement organization Packages page"

[2022-09-15 12:34] onein528 opened #292 "Implement organization settings page"

[2022-09-15 12:35] 0x5bfa opened #293 "Feature: Update app settings page"
[code]

[2022-09-15 12:35] onein528 opened #294 "Update app settings page content"

[2022-09-15 12:51] onein528 commented on #253
@DeveloperWOW64 How about?

[2022-09-15 15:16] DeveloperWOW64 commented on #253
YES. DEFINITELY.

[2022-09-15 23:25] arihant2math commented on #264
@onein528 I am not so experienced with .NET design patterns, so ill need some help here, but the general idea is:
AutoSuggestBox (on type) -> return default set of suggestions (based on page)
SuggestionChosen or Submitted etc. -> navigate to a search page with a sidebar etc. (somehow communicating the searchbox value)

[2022-09-15 23:29] onein528 commented on #264
Currently, the former one would be nice.

[2022-09-16 00:44] onein528 commented on #276
I also think so. This is gonna be great work!

[2022-09-16 01:34] onein528 commented on #229
I did figure out. This problem is caused by wrong path specification.

Currently: /Assets/AppTiles/...

Should be: ms-appx:///Assets/AppTiles/...

[2022-09-16 05:43] arihant2math opened #295 "Repository related bugs"
All the bugs here should preferably be resolved by 1.0

- [ ] #260
- [ ] #297
- [ ] #298
- [ ] #299

This may be because of async issues.

[2022-09-16 05:45] arihant2math opened #296 "The notifications page only shows 3 notifications"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Beta

### 🔢 What version/architecture of FluentHub are you on?

0acd4f702e4e75b237fbb0201d786c8d313add3c

### 📄 Description

The notifications page only shows 3 notific

[2022-09-16 05:49] arihant2math commented on #253
I'd like to see #295 and #296 resolved before 1.0 because they are some bugs that I can find that are 1 click away from the homepage.

[2022-09-16 06:00] arihant2math commented on #264
The former as in?

[2022-09-16 09:08] 0x5bfa opened #297 "Bug: Opening Issues sometimes crashes the app"

[2022-09-16 09:08] 0x5bfa opened #298 "Bug: Opening the commit history sometimes crashes the app"

[2022-09-16 09:08] 0x5bfa opened #299 "Bug: Opening a pull request sometimes crashes the app"

[2022-09-16 09:10] onein528 commented on #295
Tracking on #253

[2022-09-16 09:25] onein528 commented on #215
Tracking in #253

[2022-09-16 09:27] onein528 commented on #217
Tracking in #253

[2022-09-16 09:29] #242 closed

[2022-09-16 09:34] onein528 commented on #297
@arihant2math Do you have any something contextual data such as log, screenshot?

[2022-09-16 09:34] onein528 commented on #299
@arihant2math Do you have any something contextual data such as log, screenshot?

[2022-09-16 09:34] onein528 commented on #298
@arihant2math Do you have any something contextual data such as log, screenshot?

[2022-09-16 15:48] arihant2math commented on #248
Also switching between pages that include api calls takes a bit.

[2022-09-16 15:58] arihant2math opened #300 "Bug: Workflow success is treated as an issue event in the notifications page"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Beta

### 🔢 What version/architecture of FluentHub are you on?

Latest

### 📄 Description

A workflow is treated as an issue, opening causes problems.

### 🪜 Steps To R

[2022-09-16 15:59] arihant2math commented on #253
#300 is something to keep in mind while implementing #281

[2022-09-16 16:01] arihant2math commented on #297
**Stacktrace:**
[code]

**Logs:**

[Log20220916.log](https://github.com/FluentHub/FluentHub/files/9585570/Log20220916.log)

[2022-09-16 16:03] arihant2math commented on #296
#261 fixes this.

[2022-09-16 16:06] arihant2math commented on #299
Same as #297:

**Stacktrace:**
[code]
**Logs:**
[Log20220916.log](https://github.com/FluentHub/FluentHub/files/9585593/Log20220916.log)

[2022-09-16 16:39] DeveloperWOW64 commented on #242
@onein528 Why the abandon?

[2022-09-16 16:51] arihant2math commented on #298
Try opening FluentHub's commit history.

[2022-09-16 17:02] arihant2math commented on #253
Also WASDK doesn't have some features, I'm not sure if the unsupported features are used here.

[2022-09-16 17:09] arihant2math commented on #260
I noticed that it only happened to repos with a large amount of files and dirs in the root dir. Definitely an async issue then.

[2022-09-16 17:15] DeveloperWOW64 commented on #253
Do you know what they are? @arihant2math

[2022-09-16 20:53] arihant2math commented on #253
I can't come up with a comprehensive list but:

- Input validation
- ~~Media Player Element~~ 1.2 preview
- ~~Multiple top-level windows on separate threads~~ experimental
There probably are others but these are the major ones I can think of.

[2022-09-16 23:15] onein528 commented on #248
Yes. I'm thinking of displaying the control first and displaying it as soon as an error occurs.

[2022-09-17 03:04] onein528 commented on #242
This feature is couldn't implement.

[2022-09-17 03:05] onein528 commented on #298
I stabilized user pages by latest breaking-change ‘Improve error handling’. Next stage is repository pages. I will work on this.

[2022-09-17 03:06] onein528 commented on #260
What's the title?

[2022-09-17 04:30] onein528 commented on #253
Title bar customizing is supported? @arihant2math

[2022-09-17 04:35] onein528 commented on #253
We need to verify if WinUI 3.0(WASDK) will be fit to FluentHub. Until come true, should not consider about it.

[2022-09-17 06:28] DeveloperWOW64 commented on #253
Yes. @onein528

[2022-09-17 06:40] onein528 commented on #253
Do you think it's better to complete the v1 milestone first or the WASDK milestone?

[2022-09-17 06:41] onein528 commented on #300
What do you mean? A workflow?

[2022-09-17 06:46] DeveloperWOW64 commented on #300
A github actions script. when a workflow runs (badly), you get a notification, *usually*

[2022-09-17 06:47] onein528 commented on #300
Ah, I see. Then do you @arihant2math have any screenshots about this?

[2022-09-17 06:47] DeveloperWOW64 commented on #253
Hmmm. I don't know.

[2022-09-17 06:48] onein528 commented on #253
Ok. I decided to proceed both.

[2022-09-18 19:00] arihant2math commented on #264
@onein528 I have a couple of questions:

- What is the preferred way to store user data (from previous repo views etc.)
- What would be the preferred way to implement a sidebar nav for the search results?
- How would you check if the user is viewing a person, repo, or org?

[2022-09-18 20:48] arihant2math commented on #264
I'm working on it:
![image](https://user-images.githubusercontent.com/58895652/190927570-53eb2441-f200-46e6-bdde-4c0efc4c5324.png)

[2022-09-18 20:50] arihant2math commented on #300
@DeveloperWOW64 Sometimes you also get notification about when it runs successfully.
@onein528 Here is a screenshot:
![image](https://user-images.githubusercontent.com/58895652/190927615-ae074456-f258-45a5-8a9d-df0a2ad79cec.png)

[2022-09-18 20:52] arihant2math commented on #264
@onein528 I'll need icons for the stuff with notification icons on them.

[2022-09-18 22:31] onein528 commented on #300
on github how does it show? @arihant2math

[2022-09-18 22:37] onein528 commented on #264
Ah, I'm not sure Octokit.NET has search APIs.

[2022-09-18 22:47] onein528 commented on #264
1. maybe json file with something service.
2. shouldn't be NavigationView. I think it should just be button group.
3. hmm. title? like 'search result on FluentHub/FluentHub repository'

[2022-09-18 22:48] arihant2math commented on #264
It has some of them:
[https://octokitnet.readthedocs.io/en/latest/search/](https://octokitnet.readthedocs.io/en/latest/search/)

[2022-09-18 22:56] onein528 commented on #264
You can get them from Assets/Icons/**

[2022-09-18 22:57] onein528 commented on #264
wow really cool.

[2022-09-19 02:11] arihant2math commented on #264
Some of them don't have icons in that folder. Check the mock-up for the stuff that I can't find icons for.

[2022-09-19 02:19] onein528 commented on #264
Wiki

![image](https://user-images.githubusercontent.com/62196528/190939959-7f690c5a-57e5-4ae4-a6bf-e6540e263a5b.png)

Code

![image](https://user-images.githubusercontent.com/62196528/190940018-1db9f0ef-6330-48c5-8045-6d50d09573c0.png)

Marketplace

![image](https://user-images.githubusercontent.com/62196528/190940116-752094a7-d283-41ce-9e2f-3931454f1056.png)

Topic

![image](https://user-images.

[2022-09-19 02:20] onein528 commented on #264
How about? @arihant2math

[2022-09-19 05:34] arihant2math commented on #264
Icons lgtm, ill add them.

[2022-09-19 05:49] #295 closed

[2022-09-19 06:26] DeveloperWOW64 commented on #300
I'll see if I can show you...

[2022-09-19 06:31] onein528 commented on #300
This item is not issue? it's a `owner/repo #256` item what is 256?

[2022-09-19 06:46] DeveloperWOW64 commented on #300
@onein528
![image](https://user-images.githubusercontent.com/71598437/190962731-f5a01686-b4ac-4d14-8628-9c528627ddf0.png)

[2022-09-19 06:47] DeveloperWOW64 commented on #300
@onein528 actions have their own  `#` numbers afaik.

[2022-09-19 06:55] onein528 commented on #300
What a.... this is a really deep problem. I'm not sure I can detect if a notification item is not workflow item...

[2022-09-19 18:16] arihant2math commented on #264
@onein528 How about the tab icon? It is currently the settings icon, but it needs to be changed.

[2022-09-20 07:00] DeveloperWOW64 commented on #264
Changed to what @arihant2math?

[2022-09-20 08:11] onein528 commented on #264
Find icon:

![image](https://user-images.githubusercontent.com/62196528/191203988-07627f53-7277-4da5-94c1-7f2f2817404e.png)

[2022-09-20 19:54] arihant2math commented on #264
@onein528 I need one more icon for discussions. Thanks for the icons

[2022-09-21 06:30] DeveloperWOW64 commented on #264
![image](https://user-images.githubusercontent.com/71598437/191430720-d26dd294-e622-4770-87aa-9d8b893a774d.png)

[2022-09-21 10:43] onein528 commented on #264
the one that he showed @DeveloperWOW64 is already included in fluenthub. what do you mean more icons for discussion? id like to ask why do you need more icons than one for one meaning thing?

[2022-09-21 19:11] arihant2math commented on #264
@onein528 My bad, I didn't realize that the icon was there.

[2022-09-21 20:19] arihant2math opened #303 "Label Pills"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

Added support for colored pills to surround issue and pr labels.

### 🗃️ Alternative solutions

_No response_

### 📸 Assets

_No response_

[2022-09-22 07:29] onein528 commented on #303
What is the 'Pills'?

[2022-09-22 13:31] #265 closed

[2022-09-22 13:31] #266 closed, assigned to 0x5bfa

[2022-09-22 13:31] #272 closed

[2022-09-22 13:31] #229 closed

[2022-09-22 13:31] #268 closed

[2022-09-22 13:31] #277 closed

[2022-09-22 15:43] arihant2math commented on #303
Like the blue ellipse around the feature request label

[2022-09-22 15:54] ThraaxSession opened #305 "Bug: Home and About page does not load after logged in"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 10 Dev

### 🔢 What version/architecture of FluentHub are you on?

RELEASE | 0.3.7

### 📄 Description

After first login the home page doesn't load

### 🪜 Steps To Reproduc

[2022-09-22 15:58] onein528 commented on #305
Thank you for reporting this issue. It've been already tracked in v1 tracker. This issue is caused by raw operation of notification response json, that is about not avoiding NullRef or OutOfRange exception.

[2022-09-23 02:46] onein528 opened #306 "Have you checked if a similar feature request has already been reported?"

[2022-09-23 02:46] #306 closed

[2022-09-23 05:44] onein528 commented on #305
This issue was fixed. Could you build 'main' branch with build instructions in README.md?

[2022-09-23 06:56] DeveloperWOW64 commented on #306
What on earth?

[2022-09-23 06:57] onein528 commented on #306
it is also my bad(mistake). Today is a terrible day.

[2022-09-23 06:57] DeveloperWOW64 commented on #303
Don't we already have this?

[2022-09-23 06:58] onein528 commented on #303
Yes Already have it.

[2022-09-23 07:01] #303 closed

[2022-09-23 08:00] ThraaxSession commented on #305
Uhh @onein528 I think I am not able as I didn't work with C# for a minor time. I would like to wait for the next update in MS Store.
I found some issues in about page (I couldn't click through the menus on the left side) and when I open any repo which contains links, they didn't open. I assume I should create another issue. Or do you know it's already tracked?

[2022-09-23 08:03] onein528 commented on #305
I see.

I didn't know. Can you create a new issue?

It've been fixed in the latest stable version 0.3.7. it is available in github as well as MS Store.

[2022-09-23 08:06] ThraaxSession commented on #305
@onein528 when will be 0.3.9 available in MS Store? I'll check the issues then again and create if they are persisted. :) I guess when I installed yesterday, even 0.3.8 wasn't available at that time I guess.

[2022-09-23 08:29] onein528 commented on #305
I'm not sceduling version bumping time. the time when being added breaking changes or added a lot of changes.

[2022-09-23 16:23] arihant2math commented on #264
@onein528 Due to all those complications I lost all the code that was on git, I still have the code on my local machine though, so I'll have to destroy my fork, create a new one, and the reupload it all.

[2022-09-24 11:59] onein528 commented on #264
Could you wait a few days for doing that? @arihant2math

[2022-09-24 13:34] onein528 commented on #256
It should work in the latest store version v0.3.8.

[2022-09-24 13:35] #256 closed

[2022-09-24 13:36] onein528 commented on #247
I'd like to know more about this. Where exactly are you talking about? What is 'EmojiIcons'.

[2022-09-24 13:39] onein528 commented on #219
Now, Crowdin has been alredy set up and if you would like to translate the project, you can visit [our Crowdin page](https://crowdin.com/project/fluenthub) without any local forks for this purpose.

[2022-09-24 13:39] #219 closed

[2022-09-24 13:39] onein528 commented on #219
Thank you for your contributions anytime.

[2022-09-24 18:21] DeveloperWOW64 commented on #247
[Icons](https://github.com/FluentHub/FluentHub/tree/main/src/FluentHub.Uwp/Assets/Icons)
I previously called them emojiicons because *you* called them that lol

[2022-09-25 02:37] onein528 commented on #247
Ah, Ok, understand. Even when you don't have an Internet connection, the app needs to run at least correctly.

[2022-09-25 02:39] onein528 commented on #264
@arihant2math

[2022-09-25 03:22] arihant2math commented on #264
![image](https://user-images.githubusercontent.com/58895652/192126790-00284432-7a79-4e59-8488-ef3f271d9216.png)
I saw only 3 commits on that branch, the bulk of the code was missing, since it was all deleted, now I am going through and carefully recreating the code.

[2022-09-25 03:23] onein528 commented on #264
Your branch name is updated to search2. and re-invited you.

[2022-09-25 17:41] arihant2math commented on #264
The branch actually doesn't build because I messed up the .csproj file too much. I think I'll work on the normal branch because it seems you have moved the changes there.

[2022-09-25 18:33] DeveloperWOW64 commented on #264
'normal branch' wdym? @arihant2math

[2022-09-26 06:51] DeveloperWOW64 commented on #174
@onein528 WDYM by 'withdrawn'? How is it fixed already?

[2022-09-26 07:47] onein528 commented on #174
'Not able to do'. All of them could not be implemented.

[2022-09-29 00:20] arihant2math commented on #264
the default search branch

[2022-09-29 06:56] onein528 commented on #264
@arihant2math Done first step. Can you open a PR with this branch?

[Open a PR](https://github.com/FluentHub/FluentHub/compare/main...search)

![image](https://user-images.githubusercontent.com/62196528/192306259-851cbbf1-9626-4340-b5da-c9e2a532ed0a.png)

[2022-10-01 15:17] lebao3105 opened #314 "The home page does not load after the first login"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Dev

### 🔢 What version/architecture of FluentHub are you on?

Version: 0.3.8.0 | MS Store release | Windows x64

### 📄 Description

This is the first time I use Fluent

[2022-10-01 15:57] onein528 commented on #314
@lebao3105 This problem has existed for a long time, and it has been repeatedly corrected, but it has not been resolved yet. I can't reproduce it on my local machine, so I have no choice but to feel it. If you are the developer of UWP, is it possible to try debugging? If not, I added a new fix patch in the latest commit. I don't know if it works, but it will be released to the public in the next v

[2022-10-02 11:58] #264 closed

[2022-10-03 13:55] senolfndk opened #315 "Home Page does not work"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Beta

### 🔢 What version/architecture of FluentHub are you on?

0.3.8.0 | X64 | RELEASE

### 📄 Description

Home Page does not work

### 🤔 Expected behavior

Home Page

[2022-10-03 16:03] DeveloperWOW64 commented on #315
Hi @senolfndk. It looks like you've built from a Microsoft Store version. Is this correct?

[2022-10-03 16:31] senolfndk commented on #315
yes i downloaded it from the store

[2022-10-03 16:55] DeveloperWOW64 commented on #315
Duplicate of #314

[2022-10-03 16:55] #315 closed

[2022-10-03 21:02] tomc128 commented on #314
If it helps, I also had this issue with the Microsoft Store version of the app. I've just built it from source and the home page now works. The profile page, however, shows `Invalid URI: The hostname could not be parsed` and the account settings page does not load at all.

[2022-10-04 16:50] Lamparter opened #317 "Feature: Localize the app"
[code]

[2022-10-11 08:32] onein528 commented on #253
Please simplify TODO check boxes... Not need to be such detailed.

[2022-10-11 10:23] DeveloperWOW64 commented on #253
(but I worked so hard on them!) Ok.
*logging on to github from my school so I can only talk in a polite English manner (school rules for computers), but at least I can use GitHub*

[2022-10-16 17:22] onein528 opened #324 "Azure Pipelines doesn't publish build artifacts"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11

### 🔢 What version/architecture of FluentHub are you on?

_None_

### 📄 Description

As the title

### 🪜 Steps To Reproduce

_No response_

### 🤔 Expected behavior

Pu

[2022-10-16 17:23] onein528 commented on #324
https://dev.azure.com/fluenthub/FluentHub/_build/results?buildId=1673&view=artifacts&pathAsName=false&type=publishedArtifacts

[2022-10-16 17:23] DeveloperWOW64 commented on #324
I noticed this before..

[2022-10-16 17:24] onein528 commented on #314
Can you check this issue on latest build v0.5? @lebao3105

[2022-10-16 17:24] onein528 commented on #305
Can you check this issue on latest build v0.5? @ThraaxSession

[2022-10-16 17:27] onein528 commented on #324
What. Really? Then, I forgot that and I will investigate this problem.

[2022-10-16 18:18] DeveloperWOW64 commented on #314
@tomc128 I've never seen this error before. It looks like this may be one of three errors:
* Internet error or Microsoft Policy (are you accessing this from a work or school Microsoft account, as in a Microsoft Azure Local/Active Directory environment (e.g., in my school, some school computers have GitHub servers blocked))
* Error within FluentHub requests (would've been fixed by now; obviously Fl

[2022-10-17 13:25] ThraaxSession commented on #305
@onein528 can you tell me when it is in Microsoft store available?

[2022-10-17 16:44] onein528 commented on #324
Why is it so difficult to find important information from Microsoft Docs?

![image](https://user-images.githubusercontent.com/62196528/196235541-7f40174f-0eb7-41e8-981f-be85a2c5df76.png)

[2022-10-17 17:35] Lamparter opened #327 "Feature: Add `No description provided` message when there is no content to a issue header"
### ⏱️ Before you start...

- [X] Have you checked if a similar feature request has already been reported?

### 📄 Description

Adds a '*No description provided*' string when a message content is null.

### 🗃️ Alternative solutions

None: just add.

### 📸 Assets

_No response_

[2022-10-18 07:08] Lamparter opened #328 "Feature: Add theming functionality"
### Description and Motivation

Adds theming to FluentHub. This can be achieved by creating multiple files with different **Primer** resources that the user can select.

### Motivation & Context

Related: #158
Related: #163

[code]

[2022-10-18 08:44] onein528 commented on #328
I copied and converted(argb -> hex) from here https://primer.style/primitives/colors

[2022-10-21 10:54] onein528 opened #330 "Animate NavigationViewItems Icons"
### 🛤️ Feature
Animate NavigationViewItems icons.

### 📄 Description
Animates NavigationViewItem icons found in the NavigationViewItem model. This may require utilisation of the Windows Lottie Animation API or similar, as directly implementing a video of an animated icon may be difficult. Animated/non-animated icons can be found in the `📸 Assets` section.

### 📸 Assets
**Home**
*`Not yet animated`

[2022-10-22 09:29] onein528 commented on #330
I've never gone through this implementation. So may take a long time.

[2022-10-22 15:21] DeveloperWOW64 commented on #330
_`Not yet animated`_
![house-with-garden_1f3e1](https://user-images.githubusercontent.com/71598437/197329698-21086d4d-017d-4e95-8622-37ca3381005a.png)

Only problem with this is that animated version does not exist.

[2022-10-26 12:30] onein528 opened #331 "Backward and Forward buttons doesn't work"
As the title.

[2022-10-28 13:02] lebao3105 commented on #314
Today I tried it, and the home page is working now. Thanks for your work!

[2022-10-28 22:49] #314 closed

[2022-10-30 15:38] #331 closed

[2022-11-03 03:04] DaRealDingbat opened #334 "Bug: Index out of range exception in home"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Dev

### 🔢 What version/architecture of FluentHub are you on?

0.3.8.0 | X64 | RELEASE

### 📄 Description

Gives Error saying the index was out of range

### 🪜 Steps To

[2022-11-03 03:32] onein528 commented on #334
This problem was already fixed in v0.5.0. The app which you in use is ild version and so you can install new one from GitHub Releases page.

Note: Because of the problem that we cannot generate the package for Microsoft Store, we decided we suspend to upload them for a while. Until it available in Store, you have no choice but downloading from GitHub Releases page. Sorry for any inconvenience and

[2022-11-03 16:12] arihant2math commented on #296
Fixed in latest release

[2022-11-03 16:12] #296 closed

[2022-11-03 16:20] arihant2math opened #335 "Bug: Null reference exception in home"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Beta

### 🔢 What version/architecture of FluentHub are you on?

0.5.0 x64

### 📄 Description

When the app has a code or xaml error, the error page does not load, inste

[2022-11-03 16:21] arihant2math commented on #335
I can try sending in a pr if it is not a wsasdk limitation

[2022-11-03 23:06] onein528 commented on #335
I don't think it is WASDK limitations - there's no such an issue filed. Also I didn't know what this is.

[2022-11-09 01:58] oaVa-o opened #339 "Home Page Crash and Inaccessible Account-Related Information"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11

### 🔢 What version/architecture of FluentHub are you on?

0.3.8.0 | X64 | RELEASE

### 📄 Description

After completing the OAuth flow to log into the app, the home pag

[2022-11-09 02:11] oaVa-o commented on #339
Might be related to the fact that I have no repositories on my GitHub account, and no repositories in the default source repositories location. I cannot, however, change any of the options to point the app to the right place.

[2022-11-09 08:02] senolfndk commented on #335
![Ekran görüntüsü 2022-11-09 110210](https://user-images.githubusercontent.com/52818836/200772844-abf02584-322f-44f6-a248-fc1b3b3b868a.png)
🤔

[2022-11-09 08:04] senolfndk commented on #339
same problem
![Ekran görüntüsü 2022-11-09 110210](https://user-images.githubusercontent.com/52818836/200773143-b81ad6db-91de-4d17-a7b0-598077bdaf67.png)

[2022-11-09 08:17] onein528 commented on #339
It is related to Notification querying method wrong. It is already fixed in next  ver v0.5 But we did not publish package to the Store for automated update. Therefore I will do it and if you get the new version's app and app will do well, let us know.

[2022-11-09 08:28] senolfndk commented on #339
ok

[2022-11-09 08:38] senolfndk commented on #339
does not install manually

[2022-11-09 08:39] senolfndk commented on #339
does not install manually
![Ekran görüntüsü 2022-11-09 113512](https://user-images.githubusercontent.com/52818836/200781168-f611ee23-d827-44ea-af28-d946b8b19e95.png)
![lokoı](https://user-images.githubusercontent.com/52818836/200781170-a2a76514-1998-4325-9851-ad47221aec23.png)

[2022-11-14 04:10] oaVa-o commented on #339
Aside: Same issue as @senolfndk with manual installation.

[2022-11-14 04:23] oaVa-o commented on #339
Works on latest via manual install.

[2022-11-14 04:23] #339 closed

[2022-11-19 11:01] foursplaysroblox opened #345 "Bug: Null reference exception in home"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Dev

### 🔢 What version/architecture of FluentHub are you on?

0.3.8.0 | X64 | RELEASE

### 📄 Description

I have an error saying Object reference not set to an instanc

[2022-11-27 15:02] #324 closed

[2022-11-29 02:52] wherewhere opened #350 "Why use Windows App SDK"
### ⏱️ Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### 🪟 What version of Windows is this issue present?

Windows 11 Dev

### 🔢 What version/architecture of FluentHub are you on?

0.5.0.0 | X64 | RELEASE

### 📄 Description

It is just a client of Github. It does not need any win32 per

[2022-11-30 20:55] HelderRocket opened #351 "Bug: App crashes on startup"
### Before you start...

- [X] Have you updated FluentHub? You might be using an old version.
- [X] Have you checked if a similar issue has already been reported?

### What version of Windows is this issue present?

Windows 10

### What version/architecture of FluentHub are you on?

0.5.0.0 (The ap does not let me enter the information of the same).

### Description

Every time I try to interact w

[2022-11-30 23:12] onein528 commented on #350
There're advantages of using of it.

- Reduce building time significantly.
- Full support of WebView2
- Reorganized namespaces

Disadvantages.

- Little but unstable.

As @DeveloperWOW64 have told you already,  WASDK is being made it like it is the next generation of UWP.

I've never heard of the issue of low dpi, so it seems to be very difficult to solve. DPI issue, however, will be fixed in the